{% extends "ssc/views/templates/base.html" %}

{% block content %}
    <br>
   <h3 align="center">{{keterangan}}</h3>
   <form method="POST" action="{{actname}}">
     <div class="large-8 columns">
        <div class="row">
            <div class="large-2 columns">
              <label for="right-label" class="right inline">Nama</label>
            </div>
            <div class="large-8 columns">
                <input type="text"  name="nama" placeholder="Nama"  tabindex="1">
            </div>
            <div class="large-2 columns">
                <input type="submit"  value="Cari" tabindex="2" />
            </div>
        </div>
      </div>
       <input type="hidden" name="kocab" value="{{kocab}}" />
  </form>
  <form method="POST" action="{{actnotes}}">
    <div class="large-8 columns">
        <div class="row">
            <div class="large-2 columns">
              <label for="right-label" class="right inline">ZEN</label>
            </div>
            <div class="large-4 columns">
                <input type="text"  name="notes" placeholder="ZEN" tabindex="3">
            </div>
            <div class="large-6 columns">
                <input type="submit"  value="Cari" tabindex="4"/>
            </div>
        </div>
    </div>
      <input type="hidden" name="kocab" value="{{kocab}}" />
  </form>
{% endblock %}
