{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <br>
    <div class="container">
        <h3 align="center">Input Kata Kunci</h3>
        <form method="POST" action="{{action}}">
            <div class="row">
                <div class="large-2 columns">
                      <label for="right-label" class="right inline">Kata Kunci</label>
                </div>
                <div class="large-2 columns">
                    <input type="text" name="katakunci" placeholder="Kata Kunci" />
                </div>
                <div class="large-3 columns">
                    <input type="submit"  value="SUBMIT" />
                </div>
                  <div class="large-5 columns"></div>
            </div>
        </form>
    </div>
{% endblock %}
