{% extends "ssc/views/templates/base.html" %}

{% block content %}
    <br>
    <div>
        <form action="/create-test" method="POST" >
           <div class="large-12 columns">
                <div class="row">
                    <div class="large-2 columns">
                      <label for="right-label" class="right inline">Waktu</label>
                    </div>
                    <div class="large-2 columns">
                        <select  name="date" tabindex="1">
                              <option value="0">Tanggal</option>
                              <script>
                                  for (i=1; i<=31; i++)
                                      {
                                           document.write("<option value=" + i + ">" + i + "</option>");
                                      }
                              </script>
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <select  name="month" tabindex="2">
                              <option value="0">Bulan</option>
                              <script>
                                  for (i=1; i<=12; i++)
                                      {
                                          document.write("<option value=" + i + ">" + i + "</option>");
                                      }
                              </script>
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <select name="year" tabindex="3">
                              <option value="1000">Tahun</option>
                              {% for th in tahun %}
                                 <option value="{{th.tahun}}">{{th.tahun}}</option>
                              {% endfor %}
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <select  name="hour" tabindex="4">
                              <option value="0">Jam</option>
                              <script>
                                  for (i=1; i<=24; i++)
                                      {
                                          document.write("<option value=" + i + ">" + i + "</option>");
                                      }
                              </script>
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <select  name="minute" tabindex="5">
                              <option value="0">Menit</option>
                              <script>
                                  for (i=1; i<=60; i++)
                                      {
                                          document.write("<option value=" + i + ">" + i + "</option>");
                                      }
                              </script>
                        </select>
                    </div>

                </div>
          </div>

          <div class="large-12 columns">
                <div class="row">
                    <div class="large-2 columns">
                      <label for="right-label" class="right inline">Mata Pelajaran</label>
                    </div>
                    <div class="large-10 columns">
                        <select name="matpel">
                              {% for kodepel in kodepels %}
                                   <option value="{{kodepel.nama}}">{{kodepel.nama}}</option>
                              {% endfor %}
                        </select>
                    </div>
               </div>
          </div>
          <div class="large-12 columns">
                <div class="row">
                    <div class="large-2 columns">
                      <label for="right-label" class="right inline">Keterangan</label>
                    </div>
                    <div class="large-10 columns">
                        <input type="text"  name="description" value="" tabindex="7">
                </div>
          </div>

          <div>
                <input tabindex="8" type="submit"  value="SUBMIT" />
          </div>
        </form>
    </div>
{% endblock %}
