{% extends "ssc/views/templates/base.html" %}

{% block content %}
    <br>
    <div>
        <form action="/presence-date" method="POST" >
           <div class="large-12 columns">
                <div class="row">
                    <div class="large-2 columns">
                      <label for="right-label" class="right inline">Kelas</label>
                    </div>
                    <div class="large-10 columns">
                        <select name="kodekelas" tabindex="1">
                            {% for datum in data %}
                            <option value="{{datum.kode}}">{{datum.hari}} - {{datum.keterangan}}</option>
                            {% endfor%}
                        </select>
                    </div>
               </div>
           </div>
           <div class="large-12 columns">
                <div class="row">
                    <div class="large-2 columns">
                      <label for="right-label" class="right inline">Waktu</label>
                    </div>
                    <div class="large-2 columns">
                        <select  name="date" tabindex="1">
                              <option value="0">Tanggal</option>
                              <script>
                                  for (i=1; i<=31; i++)
                                      {
                                           document.write("<option value=" + i + ">" + i + "</option>");
                                      }
                              </script>
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <select  name="month" tabindex="2">
                              <option value="0">Bulan</option>
                              <script>
                                  for (i=1; i<=12; i++)
                                      {
                                          document.write("<option value=" + i + ">" + i + "</option>");
                                      }
                              </script>
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <select name="year" tabindex="3">
                              <option value="1000">Tahun</option>
                              {% for th in tahun %}
                                 <option value="{{th.tahun}}">{{th.tahun}}</option>
                              {% endfor %}
                        </select>
                    </div>
                    <div class="large-4 columns">
                        <div>
                            <input tabindex="4" type="submit"  value="SUBMIT" />
                        </div>
                    </div>
                </div>
          </div>


        </form>
    </div>


{% endblock %}
