{% extends "ssc/views/templates/base.html" %}

{% block content %}
  <br>
<form action="/add-namasek" method="POST">
        <div class="row">
       <div class="small-8">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Nama Sekolah</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="nama" placehorder="Nama">
            </div>
          </div>
        </div>
    </div>

    <div class="row">
       <div class="small-8">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right"></label>
            </div>
            <div class="small-9 columns">
              <input type="submit"  value="Add !" >
            </div>
          </div>
        </div>
    </div>
   </form>

{% endblock %}
