{% extends "ssc/views/templates/base1.html" %}
{% block content %}
    <!--========================================================
                              PESAN
    =========================================================-->

    <main>

        <!-- Contact us -->
        <section class="skew skew__deg-2 skew__deg-2-m-8 skew__deg-3_before-inset">
            <div class="skew_sub-1 skew_sub-1-m-8">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-white"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-4 well-4--inset-2">
                <h4>{{pesan}}</h4>
            </div>
        </section>
        <!-- END Contact us -->



    </main>
{% endblock %}
