{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <img src="img/dadu.gif" alt="fasilitas" width="100%"/>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Fasilitas</h2>

            <ol>
                <li>
                    Ruang kelas dengan AC, Komputer, Proyektor (mobile).
                </li>
                <li>
                    Ruang diskusi untuk tambahan belajar siswa.
                </li>
                <li>
                    Ruang multimedia untuk menonton zenius.net, Zenius Multimedia, DVD dan lain sebagainya.
                </li>
                <li>
                    Hotspot dengan kecepatan tinggi yang menjangkau semua ruangan.
                </li>
                <li>
                    Komputer untuk browsing.
                </li>
                <li>
                    Ruang baca yang berisi teks book, novel, komik, buku-buku ilmu pengetahuan dan
                    berbagai buku lainnnya yang menarik dan dapat menambah kecerdasan.
                </li>
            </ol>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Facility</h2>

            <ol style="color:blue">
                <li>
                    Air-conditioned classrooms with computers and overhead projectors
                </li>
                <li>
                    Discussion room for studying outside classroom hours
                </li>
                <li>
                    Multimedia room for learning through zenius.net, Zenius Multimedia, and DVDs
                </li>
                <li>
                    High speed hotspot
                </li>
                <li>
                    Access of computers
                </li>
                <li>
                    A Library with collection of textbooks, graphic novels about science, novels, and many more
                </li>
            </ol>
        </div>
    </div>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/chitra.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Chitra Husna Bilqis, Siswi Kelas 9 SMPN 115 Jakarta</h3>
                <p style="color:white">
                    Menurut gue belajar di sini tuh seru, keren, asik, ga ngebosenin. Soalnya mentornya asik2.
                    Mereka bisa mencairkan suasana. Kita juga bisa cerita2 sama mentornya. Tenang aja mereka
                    bakalan dengerin curhatan kita dan akan ngerjaga rahasia kita kok. Oiya di sini lo juga
                    ga akan stres belajar. Soalnya mereka itu pake cara serius tapi santai jadi lo
                    bakalan enjoy disini. Dijamin lo ga nyesel bimbel di sini!
                </p>
            </div>
    </div>
    <br><br>
    <div class="row">
        <div class="panel">
            <h3>Keseluruhan proses belajar terintegrasi dengan fasilitas gratis voucher zenius.net</h3>
        </div>
    </div>
     <div class="row" align="center">
        <img src="img/11.jpg" alt=""/>
        </div>
    </div>

    <div class="row">
       <p>
           Belajar pake zeniusnet beda banget karena zenius udah melakukan riset selama bertahun-tahun
           sampe sekarang untuk nemuin metode belajar yang paling efektif!
        </p>
        <p>
           Dengan zeniusnet ini, kamu gak cuma dilatih untuk jago di mata pelajaran tertentu, tapi juga
            dilatih untuk kreatif, berpikir, dan bernalar dengan bener. Jadi kamu juga cerdas
            secara dalam bidang apapun dan IQ-nya bisa meningkat.. Pokoknya zenius ngusahain
            sebisa mungkin deh, untuk ngebuat kamu semua ngerti banget dan gak bosen belajar!
        </p>
    </div>


    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/diandra.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Diandra Zahra, Alumnus SMP Al-Azhar Jakarta, SMA Lab School Jakarta</h3>
                <p style="color:white">
                    Di Zenius tuh kita nemu temen2 baru yg ngebantu bgt buat belajar. Guru2nya asik, jadi kita
                    nyerep pelajarannya gampang. Kalo kita ga ngerti, bakal diterangin sampe bener-bener ngerti
                    banget. Zenius asik banget deh
            </div>
    </div>

    <div class="row">
        <div class="panel">
            <p align="center">
                "Ipsa scientia potestas est (Knowledge itself is power)" <br>
                [Francis Bacon]
            </p>
        </div>
    </div>
{% endblock %}
