{% extends "ssc/views/templates/base.html" %}
{% block content %}
<div class="row">
        <img src="img/corephilosophy.png" alt="filosofi" width="100%"/>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Filosofi Inti</h2>
            <p>
                Proses belajar terbagi menjadi beberapa tingkat kedalaman.
                Tingkat yang paling sederhana adalah menghapal atau hanya mengetahui.
                Pada tingkat ini, informasi diterima begitu saja oleh pelajar.
                Tingkat berikutnya adalah proses mengerti dan memahami, yaitu ketika
                terjadi proses penyerapan struktur dan pola konsep dari suatu ilmu
                menjadi bagian dari pikiran.
            </p>
            <p>
                Pada tingkatan berikutnya lagi, proses belajar tidak hanya terjadi di bagian
                otak rasional-sadar tetapi juga pada bagian otak bawah sadar. Pada tingkat ini,
                belajar adalah proses mengakuisisi ilmu dan konsep menjadi kebiasaan yang
                akan berimbas pada perilaku secara keseluruhan.
            </p>
            <p>
                Kami percaya bahwa proses belajar yang menghasilkan efek signifikan dan dapat
               terbawa seumur hidup haruslah jenis belajar yang mendalam hingga mencapai bagian
               otak bawah sadar. Pada tahap ini, siswa mampu membentuk kebiasaan-kebiasaan yang,
               baik secara sadar maupun tidak, dapat menciptakan mental efektivitas
               multidimensional pada siswa.
            </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Core Philosophy</h2>
            <p style="color:blue">
                Learning process could be divided into several levels of depths. At the very basic
                level, it needs one to memorize or merely knows parts of information. Student,
                at this level, only accepts information given without any further thought process.
                The next level is knowing and understanding, which includes absorption process of
                structure and patterns that are derived from the conceptual understanding of
                knowledge into parts of his/her mind.
            </p>
            <p style="color:blue">
                In the further level, learning process not just only happens in the rational-conscious
                brain but also happens in the subconscious brain. At this level, learning
                process transforms from acquisitioning knowledge and concept into a habit
                which affects one’s behavior.
            </p>
            <p style="color:blue">
                We believe that the right learning process will create significant effects over
                the course of their lives. On this stage, students are able to form habits that -
                either conscious or subconscious - creates multidimensional mental
                effectiveness to himself/herself.
            </p>
        </div>
    </div>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/bebe.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
            <h3 style="color:grey">Betary Savira, Siswi SMAN 8 Jakarta</h3>
            <p style="color:white">
                Gue udah 4 tahun bimbel di sini. Second home guelah istilahnya. Anak2nya seru,
                tutor2nya asik, memotvasi buat belajar plus bersaing pastinya. Dan programnya
                yang namanya zenius-X pun super zenius hehe. Come and join us! Absolutely no regret
            </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
                "What we need and the words been used many times during the course of the past few days,
                is not evolution, but a revolution in education" <br>
                [Sir Ken Robinson]
            </p>
        </div>
    </div>
{% endblock %}
