{% extends "ssc/views/templates/base1.html" %}
{% block content %}
    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <!-- Contact us -->
        <section class="skew skew__deg-2 skew__deg-2-m-8 skew__deg-3_before-inset">
            <div class="skew_sub-1 skew_sub-1-m-8">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-white"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-4 well-4--inset-2">
                <h2>PROGRAM SMP KELAS 9</h2>
                <div class="row">
                      <div class="col-lg-6 col-xs-12">
                          <h5>Target Praktis</h5>
                          <ol>
                          <li>
                              Masuk SMA Favorit
                          </li>
                          <li>
                              Lulus UN dengan nilai terbaik
                          </li>
                          <li>
                              Bebas Remedial dan Peningkatan nilai rapor
                          </li>
                         </ol>
                         <h5>Target Ideal</h5>
                         <ol>
                          <li>
                              Siswa bisa melakukan hobinya masing-masing dan berdampak juga pada peningkatan kecerdasan mereka.
                          </li>
                          <li>
                              Siswa melakukan persiapan UN dan berbagai macam tes ujian masuk SMA lainnya secara intensif.
                          </li>
                          <li>
                              Siswa mampu mencari solusi atas berbagai permasalahan dengan memanfaatkan berbagai fasilitas yang
                              tersedia secara cerdas, kreatif, dan mandiri.
                          </li>
                         </ol>
                         <h5>Materi Belajar</h5>
                         <p>
                           Matematika, Fisika, Biologi, B. Indonesia, B. Inggris
                         </p>
                      </div>

                      <div class="col-lg-6 col-xs-12">
                           <h5>Waktu Belajar</h5>
                           <p>
                             2 kali seminggu <br>
                             (hari dan jam dapat disesuaikan)
                           </p>
                           <h5>Evaluasi Belajar</h5>
                           <ol>
                               <li>Tes Diagnostik</li>
                               <li>Post Test - dan Try Out</li>
                               <li>Kuis dan Latihan Soal</li>
                           </ol>
                           <h5>Fasilitas</h5>
                           <ol>
                               <li></li>
                               <li>Gratis berinternetan kecepatan tinggi di lokasi belajar.</li>
                               <li>Gratis voucher senilai Rp. 440.000,-</li>
                               <li>Gratis konsultasi belajar tiap hari.</li>
                               <li>Bebas hadir (mengerjakan tugas, PR, dll) tiap hari.</li>
                               <li>Ruang diskusi yang nyaman dan dibimbing mentor.</li>
                               <li>Musholla</li>
                           </ol>
                      </div>
                  </div>
              </div>
        </section>
        <!-- END Contact us -->



    </main>
{% endblock %}
