{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <img src="img/vespa.gif" alt="tujuan" width="100%"/>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Pembelajaran Zenius</h2>
            <p>
                Berlandaskan paradigma dalam filosofi inti, Zenius Center selalu
                menekankan dua tujuan dalam program zenius-MAX, yaitu:
            </p>
            <ol>
                <li>
                    Tujuan praktis, yaitu prestasi akademis. Seperti lulus Ujian Nasional (UN),
                    diterima di PTN yang sesuai dengan minat dan bakat,
                    serta memiliki kemampuan sosial yang baik.
                </li>
                <li>
                    Tujuan ideal, yaitu menciptakan individu pembelajar dengan mentalitas lengkap
                    secara multidimensional agar dapat memimpin kehidupannya dalam lingkungan yang
                    semakin dinamis.
                </li>
            </ol>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Zenius Learning</h2>
            <p style="color:blue">
                Based on the core philosophy paradigm, Zenius Education always emphasize on the
                two objectives in the Zenius-X program, those are:
            </p>
            <ol style="color:blue">
                <li>
                    Practical Objective, which is academic achievement. In order to pass the national
                    exam, passing public university entrance examinations, and the last but not the
                    least, the ability to socialize with each other.
                </li>
                <li>
                    Ideal Objective, which is empowering students to become learned individuals with
                    complete multidimensional mental aspects so that they could led their
                    life in a dynamic environment.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Mental</h2>
            <p>
                Berdasarkan pengalaman kami, mental dan karakter negatif selalu menjadi penghambat
                utama dalam kemajuan siswa, tidak perduli seberapa cerdas siswa tersebut. Oleh karena itu,
                kami mengedepankan pembangunan mental dan karakter sebagai dasar pembelajaran yang utama.
                Pembangunan mental dan karakter tersebut meliputi pembangunan citra diri yang positif,
                sifat proaktif, kebiasaan untuk melihat tujuan akhir, hingga manajemen waktu.
            </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Mental</h2>
            <p style="color:blue">
                Based on our past experience, it reveals that negative mental and character attitudes
                is the main obstacle in the progress of students, no matter how intelligent they are.
                Hence, we are always prioritizing on the mental and character development as the
                foundation of our study program. The mental and character development program includes
                positive self image development, proactivity, envisioning end goals,
                and effective time management.
            </p>
        </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/nesya.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Keneyzia Carla, Siswi SMAN 8 Jakarta</h3>
                <p style="color:white">
                    Menurut gue bimbel di Zenius-X enak bangeett soalnya gurunya mau jawab apa aja yang gue
                    tanya dan sabar kalo siswanya ga ngerti-ngerti. Pokonya mereka bakal
                    ngajarin sampe semuanya ngerti
                </p>
            </div>
    </div>
    <div class="row" align="center">
        <img src="img/zenius-learning.png" alt="zenius-learning" />
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Landasan Berpikir</h2>
            <p>
                Hampir semua orang mengaku bisa berpikir. Tetapi, selama bertahun-tahun,
                kami mengamati bahwa 99% orang melakukan kesalahan-kesalahan dasar dalam berpikir.
                Perlu kami informasikan bahwa pada tanggal 21 dan 28 Maret 2009, kami mengadakan
                tes kepada 150 calon pengajar Zenius-X. Rata-rata nilai mereka ternyata sangat
                rendah untuk logika kategorikal (16%), logika deduksi (38%), logika proposisi (38%),
                dan penalaran analitik (30%). Padahal, soal-soal yang diberikan adalah soal-soal yang
                mudah dan sangat sederhana. Siswa yang sudah merasakan program Zenius-X selama 4-6
                bulan bisa mendapat nilai lebih dari 90% untuk materi-materi tes tersebut.
            </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Thinking Platform</h2>
            <p style="color:blue">
                Everybody claims that they can think. But can they think correctly? For years,
                we have observed that 99% of the people have mistake in their thinking. We need to
                inform you that on 21st and 28th March 2009, we conducted a test to 150 Zenius-X
                prospective tutors. It turns out that their average score are very low in
                categorical logic (16%), logical deduction (38%), logical preposition (38%),
                and analytical reasoning (30%). Although the level of the question given is
                relatively easy. While the students who joins Zenius-X program for 4 - 6 months
                could get better average score of more than 90% for the same test.
        </div>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Pemahaman Ilmu</h2>
            <p>
                Dalam metode zenius, kami menekankan kepada konsep, bukan hapalan semata. Eksplorasi
                konsep bersifat integratif sehingga penguasaan ilmu tidak bersifat parsial. Suatu
                ilmu akan jauh lebih baik untuk dikuasai jika terlihat integrasinya dengan ilmu lain,
                bukan sesuatu yang terpisah-pisah yang seakan-akan hanya digunakan untuk menjawab soal.
            </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Knowledge Mastering</h2>
            <p style="color:blue">
                The method that we use is emphasized on the understanding of concepts, not just on
                memorizing formulas. The exploration of concepts is integrative. It means that students
                are learning comprehensively, not just part by part from the whole body of knowledge.
                So the students could have a perspective that the knowledge are not seen as separate
                things and used only to answering questions.
        </div>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h2>Efektifitas baik secara akademik maupun sosial</h2>
            <p>
                Jika sudah terbentuk kebiasaan untuk bermental belajar yang positif, landasan berpikir
                yang benar, dan pemahaman ilmu yang mendalam, maka kami percaya bahwa seorang pelajar
                akan mencapai efektivitas baik secara akademik maupun dalam hidup bermasyarakat.
            </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h2 style="color:blue">Academic and Social Effectiveness</h2>
            <p style="color:blue">
                Once we form a positive mental learning habit, correct thinking foundation,
                and the in-depth understanding of knowledge, then we could believe that there is a
                strong possibility for our students to achieve effectiveness in academic
                life and in social life.
        </div>
    </div>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/jordi.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Jordi Yosua Tumbur, Siswa SMAN 14 Jakarta</h3>
                <p style="color:white">
                    Selama gue coba zenius, jujur aja gue makin ngerti sama pelajaran yang sebelumnya
                    gue ga ngerti di sekolah. Selain itu, bahasa tutornya sangat gampang dimengerti dan
                    mudah ditangkep. Gampang tapi kena bgt konsepnya sehingga itu terus-terusan nempel
                    deh di otak, hahaha. Yang belom nyobain zenius, gih buruan
                    coba dari sekarang! Daripada lu nyesel belakangan
                </p>
            </div>
    </div>

    <div class="row">
        <div class="panel">
            <p align="center">
                "The highest result of education is tolerance" <br>
                [Helen Keller]
            </p>
        </div>
    </div>
{% endblock %}
