{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
 <!--       <img src="img/sabda-ngajar.gif" alt="tutor" width="100%"/>-->
    </div>
    <div class="row">

            <h2>Tutor</h2>
            <p>
                Pada program zenius-MAX terdapat dua kelompok tutor yang akan mendampingi siswa
                zenius Center:
                <ol>
                    <li><b><h4>Tutor online</h4></b>
                        Tutor online adalah tutor yang akan menemani siswa secara online (via internet).
                        Siswa berinteraksi dengan cara menyimak video materi pembelajaran yang dibawakan
                        oleh tutor online serta berdiskusi melalui forum online (www. zeniusclub.com) dengan
                        tutor tersebut.
                        Dengan modus pembelajaran ini, siswa dapat belajar dimana saja, kapan saja dan
                        dapat mengulang-ulang sepuasnya sehingga proses akuisisi ilmu menjadi sangat efektif.
                    </li>
                    <li> <b><h4>Tutor Onsite</h4></b>
                        Tutor Onsite adalah tutor yang mendampingi dan memfasilitasi siswa secara tatap
                        muka langsung. Kelompok tutor ini bertugas menjalankan program zenius-MAX secara
                        langsung yaitu membimbing siswa dalam proses mentransformasi kebiasaannya menjadi
                        kebiasaan baru yang sangat efektif. Dalam prakteknya kelompok tutor ini akan
                        mendampingi siswa untuk memanfaatkan <i>multimedia learning</i> secara maksimal,
                        membentuk kemampuan <i>problem solving</i> yang efektif, membentuk karakter yang
                        disiplin dan tidak mudah menyerah dalam suasana yang bergairah dan menyenangkan.
                    </li>

               </ol>
            </p>

    </div>
    <br>
<div class="row" align="center"><h4>Daftar Tutor Online</h4></div>
    <div class="row" style="background:black">
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_01.png" alt=""/><br>
               Pak Medy<br>
               Teknik Elektro ITB
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_02.png" alt=""/><br>
               Sabda<br>
               Teknik Informatika ITB
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_03.png" alt=""/><br>
               Wisnu<br>
               Teknik Elektro ITB
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_16.png" alt=""/><br>
               Pio<br>
               Psikologi UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/team_04.png" alt=""/><br>
               Donna<br>
               Akuntansi UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_07.png" alt=""/><br>
               PakDe Kosim<br>
               Sejarah UI
         </div>
    </div>
    <div class="row" style="background:black">
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_08.png" alt=""/><br>
               Yoki<br>
               Kimia UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_10.png" alt=""/><br>
               Pras<br>
               Biologi UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_11.png" alt=""/><br>
               Jansen<br>
               Teknik Metalurgi UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_16.png" alt=""/><br>
               Pio<br>
               Psikologi UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_12.png" alt=""/><br>
               Wilona<br>
               Kedokteran Gigi UI
         </div>
        <div class="medium-2 large-2 columns" align="center" style="color:white">
               <img src="img/pengajar_13.png" alt=""/><br>
               Tommy<br>
               Matematika UNJ
         </div>
    </div>
    <br><br>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/aditya.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
            <h3 style="color:grey">Aditya Jiwa Pradipta, Siswa SMAN 38 Jakarta</h3>
            <p style="color:white">
                Asik lah, suasana belajar santai tapi bisa tetep masuk. Soal-soal tryoutnya juga berbobot,
                dan yang paling asik itu pendekatan murid sama mentor yang bisa dijadikan teman juga.
                Jadi ga usah canggung atau kaku. Sama mentornya bimbel lain mana bisa?? anyway ZENIUS PAWNS!
            </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
                "From great power comes great responsibility" <br>
                [Spiderman]
            </p>
        </div>
    </div>

{% endblock %}
