<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Contact Zenius Center</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link rel="stylesheet" href="css/rd-mailform-1.css"/>

    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>


    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page text-center">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <section class="bg-white">
                <div class="container">

                    <!-- Navbar -->
                    <nav class="navbar navbar-static-top text-left">
                        <ul class="navbar-nav sf-menu" data-type="navbar">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="index-1.html">About us</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#">Publication</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">Latest</a>
                                            </li>
                                            <li>
                                                <a href="#">Popular</a>
                                            </li>
                                            <li>
                                                <a href="#">Archive</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">History</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="index-3.html">Authors</a>
                            </li>
                            <li>
                                <a href="index-4.html">News</a>
                            </li>
                            <li class="active">
                                <a href="#">Contact</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Login</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/home-login-siswa">Siswa</a>
                                    </li>
                                    <li>
                                        <a href="/login-nonsiswa">Non Siswa</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- END Navbar -->

                </div>
            </section>

            <section class="skew skew__deg-1 skew__deg-1-tm skew__deg-1-pt-0">
                <div class="skew_sub-1 skew_sub-1-2">
                    <div class="skew_sub-2 skew_sub-2-2 skew_sub-2-tm">
                        <div class="skew_bg bg-primary skew_bg-2"></div>
                    </div>
                </div>
                <div class="container">

                    <!-- Navbar Brand -->
                    <div class="navbar-header">
                        <img src="images/logo.png" width="250">
                        <h6>
                          BIMBEL ONSITE & ONLINE
                        </h6>
                    </div>
                    <!-- END Navbar Brand -->

                </div>
            </section>

        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <!-- Contact us -->
        <section class="skew skew__deg-2 skew__deg-2-m-8 skew__deg-3_before-inset">
            <div class="skew_sub-1 skew_sub-1-m-8">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-white"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-4 well-4--inset-2">
                <h2>KONTAK ZENIUS CENTER</h2>
                <div class="row">
                      <div class="col-lg-4 col-xs-12">
                          <h4>ALAMAT</h4>
                          <address class="contact-info-1">

                              <dl>
                                  <dt>CABANG FATMAWATI JAKARTA (SSC)</dt>
                                  <dd>
                                      <p>Jl. RS Fatmawati No. 4J<br>
                                         Cilandak, Jakarta Selatan
                                      </p>
                                  </dd>
                                  <dt>TELPON:</dt>
                                  <dd>
                                      <p>
                                        0818 936487, 021 75907927
                                      </p>
                                  </dd>

                                  <dt>CABANG CIJANTUNG JAKARTA</dt>
                                  <dd>
                                      <p>
                                        Persit Kartika Chandra Building Lt. 2 <br>
                                        Jl. RA Fadillah, Cijantung <br>
                                        Pasar Rebo, Jakarta Timur
                                      </p>
                                  </dd>
                                  <dt>TELPON:</dt>
                                  <dd>
                                      <p>
                                        021 87796449
                                      </p>
                                  </dd>

                                  <dt>CABANG CINERE DEPOK</dt>
                                  <dd>
                                      <p>
                                        Ruko Blok M No. 20 <br>
                                        Jl. Cinere Raya, Depok<br>
                                        Jawa Barat
                                      </p>
                                  </dd>
                                  <dt>TELPON:</dt>
                                  <dd>
                                      <p>
                                        021 7541816
                                      </p>
                                  </dd>

                                  <dt>CABANG D-MALL DEPOK</dt>
                                  <dd>
                                      <p>
                                        Ruko D-Mall Blok B1 / 46 <br>
                                        Jl. Margonda Raya, Depok<br>
                                        Jawa Barat
                                      </p>
                                  </dd>
                                  <dt>TELPON:</dt>
                                  <dd>
                                      <p>
                                        021 7760156
                                      </p>
                                  </dd>

                                  <dt>CABANG DUKUH ZAMRUD BEKASI</dt>
                                  <dd>
                                      <p>
                                        Dukuh Zamrud, Ruko Blok GE No. 107-108 <br>
                                        Kel. Padurenan, Kec. Mustika Jaya<br>
                                        Kota Bekasi, Jawa Barat
                                      </p>
                                  </dd>
                                  <dt>TELPON:</dt>
                                  <dd>
                                      <p>
                                        021 8550 4208, 0878 8658 6605
                                      </p>
                                  </dd>
                              </dl>
                          </address>
                      </div>

                      <div class="col-lg-8 col-xs-12">
                          <h4>PERTANYAAN/SARAN</h4>

                          <!-- RD Mailform -->
                          <form class='rd-mform' method="post" action="/home-komentar"
                                data-type="contact">
                              <div class="form-group">
                                  <label data-add-placeholder data-add-icon for="mailform-input-name">
                                      <input id="mailform-input-name"
                                             placeholder="* Nama lengkap:"
                                             type="text"
                                             name="nama"
                                             value="{{nama}}"/>
                                  </label>
                              </div>

                              <div class="form-group">
                                  <label data-add-placeholder data-add-icon for="mailform-input-email">
                                      <input id="mailform-input-email"
                                             placeholder="* E-mail:"
                                             type="text"
                                             name="email"
                                             value="{{email}}"/>
                                  </label>
                              </div>

                              <div class="form-group">
                                  <label data-add-placeholder data-add-icon for="mailform-input-phone">
                                      <input id="mailform-input-phone"
                                             placeholder="Telpon/HP:"
                                             type="text"
                                             name="telpon"
                                             value="{{telpon}}"/>
                                  </label>
                              </div>

                              <div class="form-group textarea">
                                  <label data-add-placeholder for="mailform-input-textarea">
                                  <textarea id="mailform-input-textarea"
                                  name="komen"
                                  placeholder="* Komentar/saran:"
                                  >{{komen}}</textarea>
                                  </label>
                              </div>
                              <div class="form-group text-danger">
                               <p>
                                 {{error}}
                                </p>
                              </div>

                              <div class="form-group btn-wr">
                                  <span class="required">* Harus diisi!</span>
                                  <button class="btn btn-danger" type="submit">Submit</button>
                                  <!--
                                  <div class="mfInfo"></div>
                                  -->
                              </div>
                          </form>
                          <!-- END RD Mailform -->

                      </div>
                  </div>
              </div>
        </section>
        <!-- END Contact us -->



    </main>

    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer>
        <div class="contain-wrap-1">
            <div class="container">
                <p class="rights">Zenius Center &#169; <span id="copyright-year"></span> All rights
                    reserved.<br>
                    Terms of use &#124; <a href="index-6.html">Privacy Policy</a>
                </p>
            </div>
        </div>
    </footer>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->

</body>
</html>
