<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="format-detection" content="telephone=no"/>
        <link rel="icon" href="images/zcicon.ico" type="image/x-icon">
        <title>Zenius Center</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <!-- Links -->
        <link href="css/owl-carousel.css" rel="stylesheet">
        <link href="css/owl-carousel-1.css" rel="stylesheet">
        <link href="css/rd-mailform.css" rel="stylesheet">
        <link href="css/testimonialslider.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <!--JS-->
        <script src="js/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <!--[if lt IE 9]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
                <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
            </a>
        </div>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <script src='js/device.min.js'></script>
    </head>
    <body>
        <div class="page text-center">
            <!--========================================================
            HEADER
            =========================================================-->
            <header class="bg-primary">
                <div id="stuck_container" class="stuck_container">
                    <section class="bg-white">
                        <div class="container">
                            <!-- Navbar -->
                            <nav class="navbar navbar-static-top text-left">
                                <ul class="navbar-nav sf-menu" data-type="navbar">
                                    <li class="active">
                                        <a href="/">Home</a>
                                    </li>
                                    <!--
                                    <li class="dropdown">
                                        <a href="index-1.html">TENTANG KAMI</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/home-zenuedu">Zenius Education</a>
                                            </li>
                                            <li>
                                                <a href="/home-zencenter">Zenius Center</a>
                                            </li>
                                        </ul>
                                    </li>
                                    -->
                                    <li class="dropdown">
                                        <a href="#">Program</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/home-sd1-5">SD Kelas 1 - 5</a>
                                            </li>
                                            <li>
                                                <a href="/home-sd6">SD Kelas 6</a>
                                            </li>
                                            <li>
                                                <a href="/home-smp7-8">SMP Kelas 7 dan 8</a>
                                            </li>
                                            <li>
                                                <a href="/home-smp9">SMP Kelas 9</a>
                                            </li>
                                            <li>
                                                <a href="/home-sma10-11">SMA Kelas 10 - 11</a>
                                            </li>
                                            <li>
                                                <a href="/home-sma12">SMA Kelas 12</a>
                                            </li>
                                            <li>
                                                <a href="/home-alumni">Alumni SMA</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Lokasi</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/lokasi-cijantung">Cijantung Jakarta</a>
                                            </li>
                                            <li>
                                                <a href="/lokasi-cinere">Cinere Depok</a>
                                            </li>
                                            <li>
                                                <a href="/lokasi-depok">D Mall Depok</a>
                                            </li>
                                            <li>
                                                <a href="/lokasi-dukuh-zamrud">Dukuh Zamrud Bekasi</a>
                                            </li>
                                            <li>
                                                <a href="/lokasi-fatmawati">Fatmawati Jakarta</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/home-contact">KONTAK</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Login</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/home-login-siswa">Siswa</a>
                                            </li>
                                            <li>
                                                <a href="/login-nonsiswa">Non Siswa</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END Navbar -->
                        </div>
                    </section>
                    <div class="container contain-wrap">
                        <!-- Navbar Brand -->
                        <div class="navbar-header">
                            <!--
                            <h1 class="navbar-brand">
                            <a href="./">
                                <small>Bimbel Online & Onsite</small>
                                Zenius Center
                            </a>
                            </h1>
                            -->
                            <img src="images/logo.png" width="250">
                            <h6>
                            BIMBEL ONSITE & ONLINE
                            </h6>
                        </div>
                        <!-- END Navbar Brand -->
                    </div>
                </div>
            </header>
            <!--========================================================
            CONTENT
            =========================================================-->
            <main>
                <!-- Pengantar -->
                <section class="well-1 well-1--inset-3 hero skew skew__deg-1 text-md-left">
                    <div class="skew_sub-1 skew_sub-1-2">
                        <div class="skew_sub-2 skew_sub-2-2">
                            <div class="skew_bg bg-primary skew_bg-2"></div>
                        </div>
                    </div>
                    <div class="container relative">
                        
                        <!--<div class="img-position-1">
                            <img src="images/webpic1.png" alt="">
                            
                        </div>-->
                        <div class="row">
                            <div class="col-lg-4 landing-text">
                                <h4>WE PROVIDE <br> GREAT LEARNING <br> EXPERIENCE</h4>
                                <p>Program bimbel kami dinamai zenius-MAX dengan motto '<b>Xtreme Transformation</b>'. Program ini tidak sekedar
                                    melayani siswa untuk memenuhi kebutuhan belajarnya, tetapi juga mentransformasi kebiasaan belajar lama yang tidak
                                efektif menjadi kebiasaan belajar baru yang sangat efektif.</p>
                            </div>
                            <div class="col-lg-8">
                                <div class="slider">
                                    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
                                    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
                                    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
                                    <div class="slider__inner">
                                        <div class="slider__contents">
                                            <img src="img/slider1.jpg" alt="">
                                            <p class="slider-name">Muhammad Mutsaqoful Fikri</p>
                                            <h5>Hattrick</h5>
                                            <ul class="slider-list">
                                                <li>Teknik Mesin - USU</li>
                                                <li>Teknik Elektro - UGM</li>
                                                <li>DIII Akuntansi - Stan</li>
                                            </ul>
                                        </div>
                                        <div class="slider__contents">
                                            <img src="img/slider2.jpg" alt="">
                                            <p class="slider-name">Kevin Daniel Parmadean Sitompul</p>
                                            <h5 class="slider__caption">Brace</h5>
                                            <ul class="slider-list">
                                                <li>Teknik Kimia - UPN Jogja</li>
                                                <li>DIII Pajak - STAN</li>
                                            </div>
                                            <div class="slider__contents">
                                                <img src="img/slider3.jpg" alt="">
                                                <p class="slider-name">Muhammad Ilyas S A</p>
                                                <h5 class="slider__caption">Brace</h5>
                                                <ul class="slider-list">
                                                    <li>Teknik Kimia - UI</li>
                                                    <li>Sistem Informasi - UIN JKT</li>
                                                </div>
                                                <div class="slider__contents">
                                                    
                                                    <h4 class="slider__caption">diamond</h4>
                                                    <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- END Pengantar-->
                        <!-- Testimoni pengguna -->
                        <section class="skew skew__deg-2 skew__deg-2-m-2 skew__deg-3_before-inset skew__deg-3_before-inset-p-1">
                            <div class="skew_sub-1 skew_sub-1-m-2 skew_sub-1-m-2-skin-1">
                                <div class="skew_sub-2">
                                    <div class="skew_bg bg-info"></div>
                                </div>
                            </div>
                            <div class="skew_cnt container contain-wrap well-1">
                                <br><br><br>
                                <h2>Testimoni Pengguna Zenius</h2>
                                <div class="owl-carousel-1">
                                    <div class="item">
                                        <blockquote class="quote">
                                            <img src="img/slider1.jpg" alt="">
                                            <p class="text-justify"><q>"Gue diajarin metode belajar yang menurut gue itu efektif banget dan juga udah ada penelitiannya loh, namanya Deliberate Practice, mungkin sebagian dari kalian juga udah tau yaa hehehe, dan itu nggak hanya buat belajar, itu bisa di segala bidang, mau lo jadi pemusik, pembalap, atlet rata2 emang gunain metode Deliberatre Practice, kalo mau jago, dan kalau lu mau tau lebih lanjut bisa baca di Blog Zenius hehehe, ada bukunya juga yaaa.
                                                Nah disini Try Outnya setiap minggu dari gue masuk sampai mau deket SBM malah kalo gue data bisa nyampe 30 kali Try Out, wkwk agak bosan sih , tapi, gue jadi ada target dan ada trigger gitu tiap minggunya, trus TO itu juga penting banget, karena lu bakalan tau kapasitas lu, dan lu tau udah nyampe mana belajar lu.
                                                Nah mau deket2 SBM Gue makin pede dan makin cemas wkwk. Tapi guru gue ngasih gue motvasi yang bikin gue makin siap, dan jangan lupa selalu deketin diri kita sama sang pencipta ya itu yang nomor satu bro, biar belajar kita, langkah kita dimudahin sama Yang diatas.
                                                Oiya, gue di 2018 ini dapet 3 kata SELAMAT.. Yang dari tahun lalu gue tunggu tunggu, dan gue bisa buat orang tua bangga sampai meneteskan air mata. Dan itu adalah momen paling berharga bagi gue karna dulu sempet ngecewaan mereka karna ga lolos dimana mana.
                                                Dan dari ke 3 nya yang gue pilih adalah STAN, tempat yang gue mimpi mimpikan dari dulu. Pas gue test di STAN gue ga ada persiapan sama sekali dan gue ga belajar sama sekali materi kaya PKN dll nya yg berbau IPS karna gue dari awal fokus di pelajaran IPA.
                                                Disaat gue galau karna ga ada persiapan sama sekali untuk test di STAN gue malah di suruh fokus belajar Math aja, dan Alhamdulillah gue lolos di
                                                DIII AKUNTANSI.
                                                Berat sih perjuangan gue tapi masih banyak yang lebih berat dari pada gue dan gue ga bisa nyeritain semua disini yaaa hehehe, pesen gue lo harus bener2 serius berjuang dan berdoa Yaaa, PTN sih emang buat mereka yang udah rajin dan jago sejak lama, ya nggak?
                                                Tapi buat kita yang merasa kurang disana-sini, kayaknya menurut gue, Zenius Center yang paling siap buat nganterin kita ke Mimpi2 kita, ngga percaya? Gue percaya kok, soalnya awal nilai TO gue adalah 18% doang cuy. Dan sekarang gue bisa menikmati hasil perjuangan gue, cobain deh hehehe."
                                            </q></p>
                                            <p>
                                                <cite class="h6">Muhammad Mutsaqoful Fikri</cite>
                                            </p>
                                            <!--<ul class="list-inline">
                                                <li><a href="https://twitter.com/HafizhMakmun" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                            </li>-->
                                        </ul>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote class="quote">
                                        <img src="img/slider2.jpg" alt="">
                                        <p class="text-justify"><q>"Kenalin gue Kevin, alumni salah satu SMA Negeri di Batam.
                                            Gue mau cerita sedikit tentang pengalaman gue buat masuk kuliah tahun ini.
                                            Jadi sebenarnya gue udah lulus tahun 2017, tapi karna selama sekolah gue cuma main dan belajar seperlunya, serta pengetahuan gue yang minim seputar tes seleksi masuk Perguruan Tinggi Negeri, gue gagal buat dapetin bangku kuliah. Saat itu gue mengalami sebanyak 7x penolakan yang pada akhirnya membuat gue cukup stress dan tertekan. Tapi karna gue gamau kuliah di PTS dan masih pengen berjuang lagi akhirnya gue memutuskan untuk Gap Year. Untungnya ortu gue setuju dan masih memberi gue kesempatan.
                                            Btw waktu awal gue Gap Year, gue bingung mau tetap di saintek atau banting stir ke soshum, karna gue sendiri gak yakin bisa menaklukkan soal saintek yang super susah, apalagi fisika :) Selain itu gue tergiur dengan keberhasilan orang-orang yang pindah haluan dari saintek ke soshum. Tapi pada akhirnya gue tetap memilih saintek, karna gue gatau di soshum mau milih jurusan apa yang sesuai dengan passion gue. Selain itu gue ngerasa cupu banget hanya karna satu mapel doang gue mau kabur dan menyerah pada mimpi gue.
                                            Setelah itu gue mulai searching tentang bimbel yang ada program alumni nya dan gue memilih Zenius Center sebagai tempat gue manghabiskan waktu selama setahun ke depan. Alasan utama gue milih Zenius Center adalah karna pembelajarannya berpedoman pada Zenius dan bimbel nya tiap hari
                                            (kecuali minggu).
                                            Menurut gue bimbel ini sangat membantu, karna fasilitas yang disediakan oke banget. Selain tentor nya yang super kece, pembelajarannya pun ga cuma tatap muka dengan tentor doang, tapi kita disediain waktu buat belajar mandiri.
                                            Hal yang paling gue suka di Zenius Center ini, tryout nya tiap minggu, jadi gue bisa mantau perkembangan gue gimana. Soal tryout nya pun random, kadang minggu ini mudah, eh minggu depan susah mampus. Tapi menurut gue itu bagus banget karna mengingatkan kita kalau soal sbmptn itu unpredictable, jadi lo harus siap siaga. Selain itu gue juga semakin terbiasa dengan soal-soal sbmptn yang terkenal susah dan variatif. Berkat Zenius Center, belajar menjadi suatu habit baru buat gue. Kadang kalo ga belajar jadi ngerasa berdosa gitu wkwkwk.
                                            Selain fasilitas, lingkungan disana juga suportif banget, mulai dari staff yang ramah-ramah, sampai temen-temen seperjuangan yang belajar nya gila-gilaan. Kalo lo ikut Program Alumni ini, lo bakal ketemu temen-temen yang ga bakal bisa lo lupain. Mereka orang-orang yang ngerti lo banget, karna kalian ada di posisi yang sama, “sedang berjuang”. Gue sendiri ngerasain gimana serunya belajar bareng mereka, ngambis bareng, Try Out diluar bareng, sampe nginep bareng di bimbel buat belajar. Intinya lo bakal ketemu second family lo deh di Zenius Center.
                                            Last but not least, gue mau ngucapin makasih yang sebesar besarnya buat Zenius Center. Berkat bimbel ini, akhirnya gue bisa dapetin bangku kuliah dan selangkah lebih dekat menuju impian gue. Jadi, buat lo semua yang mengalami kegagalan serupa, jangan takut, jangan kelamaan stress.
                                            It’s not the end of everything. Daripada lo stress dan galau berbulan bulan, mending join program alumni Zenius Center, dan rasain sensasi belajar yang sesungguhnya."
                                        </q></p>
                                        <p>
                                            <cite class="h6">Kevin Daniel Parmadean Sitompul</cite>
                                        </p>
                                        <!--<ul class="list-inline">
                                            <li><a href="https://twitter.com/@shin1998id" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>-->
                                        </li>
                                    </ul>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="quote">
                                    <img src="img/slider3.jpg" alt="">
                                    <p class="text-justify"><q>"Gue Ilyas, anak gap year yang pernah putus asa
                                        sampe mutusin gap year. Oke, gue disini bakal
                                        sharing perjuangan gue setahun kebelakang bareng
                                        temen – temen di ZENIUS CENTER (ZC). Awal masuk,
                                        gue langsung dapet konsep baru yang penting sebelum
                                        lo semua mau mulai belajar.
                                        Apa sih tujuan belajar lo men?  Lolos ujian? Nilai tinggi? Bukan itu yang gue dapet dari ZC. Belajar itu buat membangun pola pikir lo, supaya bisa mecahin masalah – masalah dalam hidup lo, sisanya ??? BONUS !!Nah !!! strategi belajar yang ZC kasih apa sih? Gue biasa nyebutnya “ Deliberate Practice”.
                                        Inti deliberate practice itu, lo belajar fokus ke suatu meteri berulang – ulang sampe lo paham dan gue ngerasain banget manfaanya sampe sekarang men. “deliberate practice” ini ngebantu lo buat merasakan sendiri memperoleh ilmu dan dengan begitu akan lebih efektif dibandingin dengan hanya menghafal.
                                        Nah, DP ini lo harus lakuin sendiri men, disini lo dibebasin untuk explore suatu materi sesuka hati lo, tapi mengingat lo punya prioritas/ keinginan untuk lolos SBMPTN atau sejenisnya, di ZC juga punya tutor – tutor yang gak kalah keren. Jadi lo gak kaya peluru nyasar yang gak jelas tujuannya. Tutor disini bakal ngarahin lo ke materi – materi fundamental yang lo harus kuasai.Di ZC, juga disediakan try out yang terstuktur dan sistematis.
                                        Mulai dari jadwal sampe materinya. Dengan try out ini lo bisa mengukur udah sampe mana kemampuan lo dan sudah ada di posisi mana lo dari jurusan impian.“Last but not least” temen – temen di zen dan lingkungan zen sangat berperan penting dalam proses belajar lo.
                                        Gue dulu sampe begadang, nginep segala macem bareng – begadang sama temen, karena dengan temen – temen bisa ngasih kita kesempatan untuk diskusi. Dan dari diskusi lo bisa dapet berbagai perspektif untuk mecahin suatu masalah."
                                    </q></p>
                                    <p>
                                        <cite class="h6">Muhammad Ilyasa S A</cite>
                                    </p>
                                    <!--<ul class="list-inline">
                                        <li><a href="https://www.facebook.com/redi.sunarta" class="icon icon-sm icon-info icon-info-variant-2 fa-facebook"></a>-->
                                    </li>
                                </ul>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote class="quote">
                                <img src="images/testi4.png" alt="">
                                <p class="text-justify"><q>"Gue kenal zenius udah lamaaaa banget, dari pas gue SMP gue udah mulai baca artikel-artikel
                                    yang ditulis di blognya, artikelnya gue sering bawa ke diskusi mata pelajaran sekolah dan guru
                                    gue seneng sama apa yang gue angkat itu. Kesan awal gue sebenernya udah terpukau (#halah) sama
                                    zenius, cuma ketidakyakinan gue malah ngebuat gue menyesal dan pengen teriak 'Aah, kenapa gue
                                    baru make 6 bulan sebelum luluuuuss?!!' #okelebay dan itupun ortu gue nggak yakin karena
                                    selama ini gue gak pernah ikut les apapun, gue selalu bilang... "Percaya ma, zenius aja udah
                                    cukup kok." And we made it!!.<br>
                                    Akhirnya selama 6 bulan dengan bantuan X.Pedia, gue yang belajarnya ga nentu arahnya udah tau
                                    step-step perencanaan
                                    buat mencapai mimpi ala zenius. Gue jarang olahraga, dan karena fisik juga harus disiapin
                                    gue mulai olahraga. Gue merasa hidup gue jadi terorganized dengan baik. Gue jadwalin TO,
                                    tidur selalu jam 2 pagi, pas istrahat sekolah gue selalu bawa Xpedia zenius, PR, Ulangan,
                                    Quiz, semuanya gue kontrol supaya nilainya stabil. Eit! ini sama sekali bukan penyiksaan,
                                    tapi belajar pake zenius sumpah seruuuuuu abis, nagih terus, sampai gue nggak bisa berhenti,
                                    dan pada akhirnya promosiin ke temen-temen gue, jadi sekelas pada make zenius. #teteppromo
                                    <br>
                                    Soal SBMPTN jadi bisa gue kerjain, karena zenius ngajar pake teori. Walaupun soal TPA
                                    mungkin agak beda tahun ini,
                                    gue tetep bisa ngerjain karna gue "bangun dasar" nggak langsung "atap" bareng zenius.
                                    Hehehe Pokoknya gue berterima kasiiih sama zenius yang udah ngebuat dan ngebentuk gue
                                    from zero to heroooo!! Gue cuma siswi di kota kecil, tapi dengan zenius,
                                nothing's impossible! ;)"</q></p>
                            </q></p>
                            <p><cite class="h6">Winny Wahyuni Lestari</cite><br>
                                <small>SMA Negeri 1 Kota Bima, NTB<br>
                            Fakultas Kedokteran - Universitas Negeri Sebelas Maret Surakarta</small></p>
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/@Winny_WL" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                            </li>
                        </ul>
                    </blockquote>
                </div>
            </div>
            <div class="owl-controls">
                <div class="owl-nav-1">
                    <div class="owl-prev-1">
                        <svg id="svg-prev-1" viewBox="0 0 10 14">
                            <path id="svg-prev-body-1" d="m3.5579 10.262-3.5504-3.3619 3.7545-3.4459 3.7545-3.4459 1.2385.70254 1.2384.70246-2.8825 2.7615-2.8825 2.7614 2.8117 2.6936 2.9527 2.4932-.8495.851c-.63120.63245-.83048.86559-.94124.99794-.041105.04912-.053301.01291-.10281-.01877-.07812-.04998-.20840-.14092-.38148-.26549-.4749-.342-1.3257-1.041-2.2868-1.836-.3453-.286-.6966-.588-1.0551-.889-.2771-.232-.5648-.461-.8180-.701z"/>
                        </svg>
                    </div>
                    <div class="owl-next-1">
                        <svg id="svg-next-1" viewBox="0 0 10 14">
                            <path id="svg-prev-body-1" d="M 6.4430896,3.7419879 9.9934443,7.1039398 6.2389559,10.549827 2.4844669,13.995715 1.2459944,13.293211 0.00752123,12.590706 2.8900563,9.8292911 5.7725907,7.067876 2.9608387,4.3742684 0.00819653,1.8814852 0.85764023,1.0303492 C 1.4888369,0.39789523 1.6881242,0.16476323 1.7988764,0.03240623 c 0.041105,-0.04912 0.053301,-0.01291 0.1028096,0.01877 0.07812,0.04998 0.2084032,0.140918 0.381476,0.26549 0.4748942,0.341812 1.3257011,1.04005097 2.2867636,1.83583067 0.3453055,0.285921 0.6966086,0.587812 1.0551867,0.888632 0.2770428,0.232418 0.5647263,0.461047 0.8179773,0.700859 z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Testimoni -->
</main>
<!--========================================================
FOOTER
=========================================================-->
<footer>
    <div class="container">
        <p class="rights">ZENIUS CENTER &#169; <span id="copyright-year"></span> All rights
        reserved.
    </p>
</div>
</footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->
</body>
</html>