<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/zcicon.ico" type="image/x-icon">
    <title>Zenius Center</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link href="css/owl-carousel.css" rel="stylesheet">
    <link href="css/owl-carousel-1.css" rel="stylesheet">
    <link href="css/rd-mailform.css" rel="stylesheet">

    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page text-center">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg-primary">
        <div id="stuck_container" class="stuck_container">
            <section class="bg-white">
                <div class="container">

                    <!-- Navbar -->
                    <nav class="navbar navbar-static-top text-left">
                        <ul class="navbar-nav sf-menu" data-type="navbar">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <!--
                            <li class="dropdown">
                                <a href="index-1.html">TENTANG KAMI</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/home-zenuedu">Zenius Education</a>
                                    </li>

                                    <li>
                                        <a href="/home-zencenter">Zenius Center</a>
                                    </li>
                                </ul>
                            </li>
                            -->

                            <li class="dropdown">
                                <a href="#">Program</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/home-sd1-5">SD Kelas 1 - 5</a>
                                    </li>

                                    <li>
                                        <a href="/home-sd6">SD Kelas 6</a>
                                    </li>
                                    <li>
                                        <a href="/home-smp7-8">SMP Kelas 7 dan 8</a>
                                    </li>
                                    <li>
                                        <a href="/home-smp9">SMP Kelas 9</a>
                                    </li>

                                    <li>
                                        <a href="/home-sma10-11">SMA Kelas 10 - 11</a>
                                    </li>
                                    <li>
                                        <a href="/home-sma12">SMA Kelas 12</a>
                                    </li>
                                    <li>
                                        <a href="/home-alumni">Alumni SMA</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Lokasi</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/lokasi-cijantung">Cijantung Jakarta</a>
                                    </li>
                                    <li>
                                        <a href="/lokasi-cinere">Cinere Depok</a>
                                    </li>
                                    <li>
                                        <a href="/lokasi-depok">D Mall Depok</a>
                                    </li>

                                    <li>
                                        <a href="/lokasi-dukuh-zamrud">Dukuh Zamrud Bekasi</a>
                                    </li>
                                    <li>
                                        <a href="/lokasi-fatmawati">Fatmawati Jakarta</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/home-contact">KONTAK</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Login</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/home-login-siswa">Siswa</a>
                                    </li>
                                    <li>
                                        <a href="/login-nonsiswa">Non Siswa</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- END Navbar -->

                </div>
            </section>
            <div class="container contain-wrap">

                <!-- Navbar Brand -->
                <div class="navbar-header">
                    <!--
                    <h1 class="navbar-brand">
                        <a href="./">
                            <small>Bimbel Online & Onsite</small>
                            Zenius Center
                        </a>
                    </h1>
                    -->
                    <img src="images/logo.png" width="250">
                    <h6>
                      BIMBEL ONSITE & ONLINE
                    </h6>
                </div>
                <!-- END Navbar Brand -->

            </div>
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <!-- Pengantar -->
        <section class="well-1 well-1--inset-3 hero skew skew__deg-1 text-md-left">
            <div class="skew_sub-1 skew_sub-1-2">
                <div class="skew_sub-2 skew_sub-2-2">
                    <div class="skew_bg bg-primary skew_bg-2"></div>
                </div>
            </div>
            <div class="container relative">
                <h4>WE PROVIDE <br> GREAT LEARNING <br> EXPERIENCE</h4>

                <p class="inset-1">Program bimbel kami dinamai zenius-MAX dengan motto '<b>Xtreme Transformation</b>'. Program ini tidak sekedar
            melayani siswa untuk memenuhi kebutuhan belajarnya, tetapi juga mentransformasi kebiasaan belajar lama yang tidak
            efektif menjadi kebiasaan belajar baru yang sangat efektif.</p>

                <div class="img-position-1">
                    <img src="images/webpic1.png" alt="">
                </div>
            </div>
        </section>
        <!-- END Pengantar-->


        <!-- Testimoni pengguna -->
        <section class="skew skew__deg-2 skew__deg-2-m-2 skew__deg-3_before-inset skew__deg-3_before-inset-p-1">
            <div class="skew_sub-1 skew_sub-1-m-2 skew_sub-1-m-2-skin-1">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-info"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-1">
                <br><br><br>
                <h2>Testimoni Pengguna Zenius</h2>

                <div class="owl-carousel-1">
                    <div class="item">
                        <blockquote class="quote">
                            <img src="images/testi1.png" alt="">

                            <p><q>Jadi gua udah make zenius sejak kelas 5 SD. Ngebantu banget bagi gua anak pindahan untuk
                                  catch-up sama pelajaran yg ketinggalan. Sejak itu keenakan denger pembahasan ka sabda cs
                                  tiap hari pake zenius, sampai SMP dan SMA. Banyak soal seleksi/ujian yg ternyata udah
                                  pernah dibahas di zenius.net dan Xpedia. Zenius Blog juga ngebantu banget pas gua
                                  bingung mau ambil jurusan apa, sampai akhirnya gua netapin FTSL ITB sebagai jalan menuju
                                  masa depan gua. Pokoke top dah zenius! Keep up the good work!"</q></p>

                            <p><cite class="h6">Muhammad Hafizhan Hamid</cite><br>
                               <small>SMAS Insan Cendekia Madani BSD <br>
                                  Fakultas Teknik Sipil dan Lingkungan ITB</small></p>
                            <ul class="list-inline">
                                    <li><a href="https://twitter.com/HafizhMakmun" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote">
                            <img src="images/testi2.png" alt="">

                            <p><q>"zenius emang gokil bangett!! aku dari SMK bisa masuk UGM lewat SBMPTN masya Allah..
                              nggak nyangka! padahal di SMK nggak ada materi sosiologi, geografi, tp di zenius komplit
                              banget! TKPAnya kereenn terutama matdas! gokil! pas ada berita aku ketrima UGM dan
                              STAN orang2 disekitar pada kaget dikira aku jenius padahal dengan BELAJAR LEWAT KONSEP
                              semua orang bisa!! emang yaaa zenius tu harusnya semua orang tauu!!"</q></p>

                            <p><cite class="h6">Ida Solikhatun</cite><br>
                               <small>SMK Negeri 2 Pekalongan<br>
                                  Fakultas Ekonomika dan Bisnis, Jurusan Akuntansi - Universitas Gadjah Mada</small></p>
                            <ul class="list-inline">
                                    <li><a href="https://twitter.com/@shin1998id" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote">
                            <img src="images/testi3.png" alt="">

                            <p><q>"personally keren abis, gw anak STM yg gk terluntang-lanting pengen kuliah tapi
                              gk tau apa2 terdampar di tulisan2 kece di blognya, ZLearning si bahan fondasi yg ok banget
                              bukan aja buat sbmptn, dibuat ngerti social studies walaupun masih tingkat sma oleh
                              tutor2 gokil. setidaknya itu udah cukup buat gue lolos seleksi yg
                              cuma andelin zenius....."</q></p>

                            <p><cite class="h6">Redi Sunarta</cite><br>
                               <small>SMK Negeri 1 Karawang<br>
                                  Fakultas Ekonomi dan Bisnis, Jurusan Ilmu Ekonomi - Universitas Indonesia</small></p>
                            <ul class="list-inline">
                                    <li><a href="https://www.facebook.com/redi.sunarta" class="icon icon-sm icon-info icon-info-variant-2 fa-facebook"></a>
                                    </li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote">
                            <img src="images/testi4.png" alt="">

                            <p><q>"Gue kenal zenius udah lamaaaa banget, dari pas gue SMP gue udah mulai baca artikel-artikel
                              yang ditulis di blognya, artikelnya gue sering bawa ke diskusi mata pelajaran sekolah dan guru
                              gue seneng sama apa yang gue angkat itu. Kesan awal gue sebenernya udah terpukau (#halah) sama
                              zenius, cuma ketidakyakinan gue malah ngebuat gue menyesal dan pengen teriak 'Aah, kenapa gue
                              baru make 6 bulan sebelum luluuuuss?!!' #okelebay dan itupun ortu gue nggak yakin karena
                              selama ini gue gak pernah ikut les apapun, gue selalu bilang... "Percaya ma, zenius aja udah
                              cukup kok." And we made it!!.<br>
                              Akhirnya selama 6 bulan dengan bantuan X.Pedia, gue yang belajarnya ga nentu arahnya udah tau
                              step-step perencanaan
                              buat mencapai mimpi ala zenius. Gue jarang olahraga, dan karena fisik juga harus disiapin
                              gue mulai olahraga. Gue merasa hidup gue jadi terorganized dengan baik. Gue jadwalin TO,
                              tidur selalu jam 2 pagi, pas istrahat sekolah gue selalu bawa Xpedia zenius, PR, Ulangan,
                              Quiz, semuanya gue kontrol supaya nilainya stabil. Eit! ini sama sekali bukan penyiksaan,
                              tapi belajar pake zenius sumpah seruuuuuu abis, nagih terus, sampai gue nggak bisa berhenti,
                              dan pada akhirnya promosiin ke temen-temen gue, jadi sekelas pada make zenius. #teteppromo
                              <br>
                              Soal SBMPTN jadi bisa gue kerjain, karena zenius ngajar pake teori. Walaupun soal TPA
                              mungkin agak beda tahun ini,
                              gue tetep bisa ngerjain karna gue "bangun dasar" nggak langsung "atap" bareng zenius.
                              Hehehe Pokoknya gue berterima kasiiih sama zenius yang udah ngebuat dan ngebentuk gue
                              from zero to heroooo!! Gue cuma siswi di kota kecil, tapi dengan zenius,
                              nothing's impossible! ;)"</q></p>
</q></p>

                            <p><cite class="h6">Winny Wahyuni Lestari</cite><br>
                               <small>SMA Negeri 1 Kota Bima, NTB<br>
                                  Fakultas Kedokteran - Universitas Negeri Sebelas Maret Surakarta</small></p>
                            <ul class="list-inline">
                                    <li><a href="https://twitter.com/@Winny_WL" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
                <div class="owl-controls">
                    <div class="owl-nav-1">
                        <div class="owl-prev-1">
                            <svg id="svg-prev-1" viewBox="0 0 10 14">
                                <path id="svg-prev-body-1" d="m3.5579 10.262-3.5504-3.3619 3.7545-3.4459 3.7545-3.4459 1.2385.70254 1.2384.70246-2.8825 2.7615-2.8825 2.7614 2.8117 2.6936 2.9527 2.4932-.8495.851c-.63120.63245-.83048.86559-.94124.99794-.041105.04912-.053301.01291-.10281-.01877-.07812-.04998-.20840-.14092-.38148-.26549-.4749-.342-1.3257-1.041-2.2868-1.836-.3453-.286-.6966-.588-1.0551-.889-.2771-.232-.5648-.461-.8180-.701z"/>
                            </svg>
                        </div>
                        <div class="owl-next-1">
                            <svg id="svg-next-1" viewBox="0 0 10 14">
                                <path id="svg-prev-body-1" d="M 6.4430896,3.7419879 9.9934443,7.1039398 6.2389559,10.549827 2.4844669,13.995715 1.2459944,13.293211 0.00752123,12.590706 2.8900563,9.8292911 5.7725907,7.067876 2.9608387,4.3742684 0.00819653,1.8814852 0.85764023,1.0303492 C 1.4888369,0.39789523 1.6881242,0.16476323 1.7988764,0.03240623 c 0.041105,-0.04912 0.053301,-0.01291 0.1028096,0.01877 0.07812,0.04998 0.2084032,0.140918 0.381476,0.26549 0.4748942,0.341812 1.3257011,1.04005097 2.2867636,1.83583067 0.3453055,0.285921 0.6966086,0.587812 1.0551867,0.888632 0.2770428,0.232418 0.5647263,0.461047 0.8179773,0.700859 z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Testimoni -->


    </main>

    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer>
        <div class="container">
            <p class="rights">ZENIUS CENTER &#169; <span id="copyright-year"></span> All rights
                reserved.
            </p>
        </div>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->

</body>
</html>
