{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <br>
    <div class="row">
        <h3>PT. Zenius Education</h3>
        <p>Head office<br>
           Jl. KH Abudullah Syafei 20 Tebet Jaksel<br>
           Email: zcenter@zeniuscenter.com
        </p>
        <h3>Kerjasama Lembaga</h3>
        <p>Zenius Center Cinere <br>
           Ruko Blok M, 20 Cinere Raya Depok<br>
           Email: cinere@zeniuscenter.com <br>
           Telp : +6221 7541816
        </p>
        <h3>Implementasi Zenius Max</h3>
        <p>SSC Fatmawati<br>
           Jalan RS Fatmawati 4J <br>
           Jakarta Selatan<br>
           Telp: +62217504195, +62217504196



    </div>

{% endblock %}
