{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <h2>Program Kelas 8 SMP</h2>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h3>Target Praktis</h3>
           <ol>
            <li>
                Bebas remedial
            </li>
            <li>
                Peningkatan nilai rapor
            </li>
            <li>
                Membawa siswa mengikuti kegiatan formal di luar kegiatan sekolah
            </li>
           </ol>
           <h3>Target Ideal</h3>
           <ol>
            <li>
                Putra/putri anda bisa melakukan hobinya masing-masing dan berdampak juga pada peningkatan kecerdasan mereka
            </li>
            <li>
                Siswa mulai melakukan persiapan UN dan berbagai macam tes ujian masuk SMA lainnya
            </li>
            <li>
                Siswa mampu mencari solusi atas berbagai permasalahan dengan memanfaatkan berbagai fasilitas yang
                tersedia secara cerdas, kreatif, dan mandiri.
            </li>
           </ol>
           <h3>Materi Belajar</h3>
           <p>
             Matematika, Fisika, Biologi, B. Indonesia, B. Inggris
           </p>
           <h3>Pengintegrasian Belajar</h3>
           <p>
             Materi tersebut akan disatukan atau diintegrasikan dengan materi Potensi Akademik dan Kemampuan Dasar.
             Dengan adanya penyatuan ini, siswa akan terbiasa untuk menggali kemampuan dan potensinya sendiri
             sehingga berdampak pada peningkatan kecerdasan mereka. Untuk melihat cara mengajar kami,
               <a href="demo">klik demo belajar</a>
           </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h3>Waktu Belajar</h3>
           <p>
              Senin – Rabu atau Selasa – Kamis <br>
              Pukul 15.00 – 18.30<br>
              (waktu bisa disesuaikan)
           </p>
           <h3>Evaluasi Belajar</h3>
           <ol>
               <li>Tes Diagnostik 4</li>
               <li>Try Out setiap bulan </li>
               <li>Kuis dan Latihan Soal</li>
           </ol>
           <h3>Fasilitas</h3>
           <ol>
               <li>Modul dan Kumpulan Latihan Soal </li>
               <li>Ruang Multimedia </li>
               <li>Zenius.net </li>
           </ol>
           <h3>Harga Program</h3>
           <p>
               <a href="/harga">Lihat rincian disini</a>
            </p>
        </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/nesya.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Keneyzia Carla, Siswi SMAN 8 Jakarta</h3>
                <p style="color:white">
                    Menurut gue bimbel di Zenius-X enak bangeett soalnya gurunya mau jawab apa aja yang gue tanya
                    dan sabar kalo siswanya ga ngerti-ngerti. Pokonya mereka bakal ngajarin sampe semuanya ngerti
                </p>
            </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/chitra.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Chitra Husna Bilqis, Siswi SMPN 115 Jakarta</h3>
                <p style="color:white">
                    Menurut gue belajar di sini tuh seru, keren, asik, ga ngebosenin. Soalnya mentornya asik2.
                    Mereka bisa mencairkan suasana. Kita juga bisa cerita2 sama mentornya. Tenang aja mereka
                    bakalan dengerin curhatan kita dan akan ngerjaga rahasia kita kok. Oiya di sini lo juga
                    ga akan stres belajar. Soalnya mereka itu paker cara serius tapi santai jadi lo bakalan
                    enjoy disana. Dijamin lo ga nyesel bimbel di sini!
                </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
                "Youth ages, immaturity is outgrown, ignorance can be educated, and drunkenness sobered,
                but stupid lasts forever"<br>
                [Aristophanes]
            </p>
        </div>
    </div>

{% endblock %}
