{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <h2>Program Super Intensif</h2>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h3>Target Praktis</h3>
           <ol>
            <li>
               Lulus SBMPTN dan ujian mandiri lainnya
            </li>
            <li>
                Masuk Perguruan Tinggi Negeri
            </li>
           </ol>
           <h3>Target Ideal</h3>
           <ol>
            <li>
                Mempunyai mental, landasan berpikir, dan pemahaman ilmu yang kuat
            </li>
            <li>
                Efektif dalam belajar secara akademik maupun dalam bersosialisasi
            </li>
            <li>
                Memiliki persiapan yang unggul dalam pembelajaran saat kuliah di perguruan tinggi
            </li>
           </ol>
           <h3>Materi Belajar</h3>
           <p>
             Matematika, Fisika, Kimia, Biologi, B.Indonesia, Sosiologi, Ekonomi, Sejarah, Geografi,
             dan B.Inggris, TPA dan Kemampuan Dasar
           </p>
           <h3>Pengintegrasian Belajar</h3>
           <p>
               Keseluruhan proses belajar akan di integrasikan dengan pembelajaran online lewat
               www.zenius.net. Website ini berisi video-video pembahasan materi belajar tersebut.
               <a href="demo">klik demo belajar</a>
           </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h3>Waktu Belajar</h3>
           <p>
               Senin s/d Jumat <br>
               Pukul 13.00 - 16.30 <br>
               (waktu bisa disesuaikan)
           </p>
           <h3>Evaluasi Belajar</h3>
           <ol>
               <li>Tes Diagnostik</li>
               <li>Try Out setiap bulan </li>
               <li>Kuis dan Latihan Soal</li>
           </ol>
           <h3>Fasilitas</h3>
           <ol>
               <li>Modul dan Kumpulan Latihan Soal </li>
               <li>Ruang Multimedia </li>
               <li>Zenius.net </li>

           </ol>
           <h3>Harga Program</h3>
           <p>
               <a href="/harga">Lihat rincian disini</a>
            </p>
        </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/fio.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Fiola Rizanti, SMAN 8 Jakarta, FKUI 2010 & SAPPK ITB 2010  </h3>
                <p style="color:white">
                    Awalnya sih nggak yakin mau masuk zenius-x, terpaksa karena perintah orangtua dan guru.
                    Tapi karena atmosfirnya santai dan enak banget buat belajar, dari sering kabur dan
                    cari alasan buat nggak datang bimbel, akhirnya malah ketagihan datang terus,
                    bahkan sampai tetap datang walaupun udah lulus tes ptn. Buat yang malas belajar
                    dan penat di sekolah, metode-metode zenius-x bisa bikin persiapan ujian jadi
                    menyenangkan dan belajar jadi nggak terasa berat
                </p>
            </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/aisyah.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Aisyah Gunung, Alumnus SMAN 28 Jakarta, STEI ITB  </h3>
                <p style="color:white">
                   Awalnya waktu gw denger zenius belajar dari basic dan ngebentuk pola pikir, gw mikirnya buang2
                    waktu & gak efektif. Ternyata gw salah besar. Hehe. Zenius tuh emang beneran ngebikin cerdas
                    dan berpikir benar. Efek sampingnya, gw diterima deh di STEI ITB lewat USM 1
                </p>
            </div>
    </div>

    <div class="row">
        <div class="panel">
            <p align="center">
               "It's about customizing to your circumstances, and personalizing education to the people youre
                actually teaching" <br>
                [Sir Ken Robinson]
            </p>
        </div>
    </div>

{% endblock %}
