{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <h2>Program Kelas 9 SMP</h2>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h3>Target Praktis</h3>
           <ol>
            <li>
                Masuk SMA Favorit
            </li>
            <li>
                Lulus UN dengan nilai terbaik
            </li>
            <li>
                Bebas Remedial dan Peningkatan nilai rapor
            </li>
           </ol>
           <h3>Target Ideal</h3>
           <ol>
            <li>
                Putra/putri anda bisa melakukan hobinya masing-masing dan berdampak juga pada peningkatan kecerdasan mereka.
            </li>
            <li>
                Siswa melakukan persiapan UN dan berbagai macam tes ujian masuk SMA lainnya secara intensif.
            </li>
            <li>
                Siswa mampu mencari solusi atas berbagai permasalahan dengan memanfaatkan berbagai fasilitas yang
                tersedia secara cerdas, kreatif, dan mandiri.
            </li>
           </ol>
           <h3>Materi Belajar</h3>
           <p>
             Matematika, Fisika, Biologi, B. Indonesia, B. Inggris
           </p>
           <h3>Pemfokusan Belajar</h3>
           <p>
              Di program ini kamu akan banyak difokuskan kepada TPA dan Kemampuan Dasar karena keduanya
               merupakan materi yang diujikan dalam ujian masuk RSBI dan ujian masuk SMA lainnya yang
               tidak kamu dapatkan di sekolah . Keduanya merupakan materi yang dapat menyatukan bakat
               dan kecerdasan kamu. Kalo kamu mau ngeliat gimana cara ngajar Zenius,
               <a href="demo">klik demo belajar</a>
           </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h3>Waktu Belajar</h3>
           <p>
               Senin-Rabu-Jumat atau Selasa-Kamis-Jumat <br>
               Pukul 15.00 - 18.30 atau 16.30 - 20.00<br>
               (waktu bisa disesuaikan)
           </p>
           <h3>Evaluasi Belajar</h3>
           <ol>
               <li>Tes Diagnostik 4</li>
               <li>Try Out setiap bulan </li>
               <li>Kuis dan Latihan Soal</li>
           </ol>
           <h3>Fasilitas</h3>
           <ol>
               <li>Modul dan Kumpulan Latihan Soal </li>
               <li>Ruang Multimedia </li>
               <li>Zenius.net </li>
           </ol>
           <h3>Harga Program</h3>
           <p>
               <a href="/harga">Lihat rincian disini</a>
            </p>
        </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/dhimas.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Dhimas Satibi, Alumnus SMPN 115 Jakarta, SMAN 26 Jakarta</h3>
                <p style="color:white">
                    Pertama kali gue masuk Zenius, gue merasa asing sama cara belajarnya.
                    Metode belajar yang dipake belom pernah gue temuin sebelumnya. Setelah
                    gue jalanin ternyata seru banget. Lo bakalan dapet tutor-tutor yg bikin
                    lo ga akan bosen buat belajar. Trus lo juga bakalan dapet banyak temen di sini.
                    Sekarang gue diterima di SMA 26 Jakarta dan gue tetep belajar di Zenius
                    lagi biar bisa masuk IPA
                </p>
            </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/calysta.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Calysta Merina, Siswi SMPN 115 Jakarta</h3>
                <p style="color:white">
                    Yang jelas seru! Selain kita bisa belajar kita juga bisa main atau bercanda jadi kita
                    belajar gak kaku, terus belajarnya juga santai jadi gak terlalu stres juga buat belajar
                    hehehe. Mentor- mentornya jg seru  seru kok :) Jadi buat lo semua yg mau masuk sini gak
                    bakal nyesel deh, dijamin lo lulus dengan UN yang bagus!
                </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
                "The man who reads nothing at all is better educated than the man who reads nothing but newspapers"<br>
                [Thomas Jefferson]
            </p>
        </div>
    </div>

{% endblock %}
