{% extends "ssc/views/templates/base1.html" %}
{% block content %}
    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <!-- Contact us -->
        <section class="skew skew__deg-2 skew__deg-2-m-8 skew__deg-3_before-inset">
            <div class="skew_sub-1 skew_sub-1-m-8">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-white"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-4 well-4--inset-2">
                <h2>PROGRAM ALUMNI SMA</h2>
                <div class="row">
                      <div class="col-lg-6 col-xs-12">
                          <h5>Target Praktis</h5>
                          <ol>
                          <li>
                             Lulus PTN favorit seperti ITB, UI, dll
                          </li>
                          <li>
                              Peningkatan kecerdasan 20-40 %
                          </li>
                         </ol>
                         <h5>Target Ideal</h5>
                         <ol>
                          <li>
                              Mempunyai mental, landasan berpikir, dan pemahaman ilmu yang kuat
                          </li>
                          <li>
                              Efektif dalam belajar secara akademik maupun dalam bersosialisasi
                          </li>
                          <li>
                              Memiliki persiapan yang unggul dalam pembelajaran saat kuliah di perguruan tinggi
                          </li>
                         </ol>
                         <h5>Materi Belajar</h5>
                         <p>
                           Matematika, Fisika, Kimia, Biologi, B.Indonesia, Sosiologi, Ekonomi, Sejarah, Geografi,
                           dan B.Inggris, dan TKPA.
                         </p>
                         <h5>Pengintegrasian Belajar</h5>
                         <p>
                             Keseluruhan proses belajar akan di integrasikan dengan pembelajaran online lewat
                             www.zenius.net. Website ini berisi video-video pembahasan materi belajar tersebut.
                         </p>
                      </div>

                      <div class="col-lg-6 col-xs-12">
                           <h5>Waktu Belajar</h5>
                           <p>
                               Senin s/d Jumat <br>
                               Pukul 09.00 - 15.00<br>
                           </p>

                           <h5>Evaluasi Belajar</h5>
                           <ol>
                               <li>Tes Diagnostik</li>
                               <li>Post Test - dan Try Out</li>
                               <li>Kuis dan Latihan Soal</li>
                           </ol>
                           <h5>Fasilitas</h5>
                           <ol>
                               <li></li>
                               <li>Gratis berinternetan kecepatan tinggi di lokasi belajar.</li>
                               <li>Gratis voucher senilai Rp. 440.000,-</li>
                               <li>Gratis konsultasi belajar tiap hari.</li>
                               <li>Bebas hadir (diskusi, Try-Out, dll) tiap hari.</li>
                               <li>Ruang diskusi yang nyaman dan dibimbing mentor.</li>
                               <li>Musholla.</li>
                           </ol>
                      </div>
                  </div>
              </div>
        </section>
        <!-- END Contact us -->



    </main>
{% endblock %}
