{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <h2>Program Kelas 11 SMA</h2>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h3>Target Praktis</h3>
           <ol>
            <li>
               Bebas remedial dan peningkatan nilai rapor
            </li>
            <li>
                Persiapan dini ujian masuk PTN
            </li>
           </ol>
           <h3>Target Ideal</h3>
           <ol>
            <li>
                Siswa mulai berlatih kemampuan dasar yang dibutuhkan dalam menjawab soal-soal
                ujian masuk PTN seperti Basic Skills dan TPA (Tes Potensi Akademik)
            </li>
            <li>
                Siswa melakukan pembelajaran yang efektif agar bisa melakukan kegiatan-kegiatan
                penunjang belajar lainnya
            </li>
            <li>
                Siswa mampu mencari solusi atas berbagai permasalahan dengan memanfaatkan berbagai fasilitas yang
                tersedia secara cerdas, kreatif, dan mandiri.
            </li>
           </ol>
           <h3>Materi Belajar</h3>
           <p>
             Matematika, Fisika, Biologi, Kimia
           </p>
           <h3>Pengintegrasian Belajar</h3>
           <p>
               Materi di atas akan disatukan juga dengan materi TPA, Basic Skills, dan English.
               Ingin melhat bagaimana cara ngajar Zenius,
               <a href="demo">klik demo belajar</a>
           </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h3>Waktu Belajar</h3>
           <p>
               Senin-Rabu atau Selasa-Kamis <br>
               Pukul 16.30 -  20.00
               (waktu bisa disesuaikan)
           </p>
           <h3>Evaluasi Belajar</h3>
           <ol>
               <li>Tes Diagnostik</li>
               <li>Try Out setiap bulan </li>
               <li>Kuis dan Latihan Soal</li>
           </ol>
           <h3>Fasilitas</h3>
           <ol>
               <li>Modul dan Kumpulan Latihan Soal </li>
               <li>Ruang Multimedia </li>
               <li>Zenius.net </li>

           </ol>
           <h3>Harga Program</h3>
           <p>
               <a href="/harga">Lihat rincian disini</a>
            </p>
        </div>
    </div>
    <div>
        <p>
            Dengan adanya sistem penerimaan perguruan tinggi negeri yang sekarang, nilai
            rapor akan dijadikan pertimbangan utama dalam jalur undangan (salah satu
            jalur masuk PTN). Makanya, penting banget buat siswa untuk segera ningkatin
            nilainya. Di program ini, zenius bakalan fokus pada peningkatan nilai
            rapor dan fokus juga buat persiapan dini SNMPTN (colong start buat SNMPTN, hehehe)
        </p>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/deby.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Debby, Alumnus SMAN 70 Jakarta, FTTM ITB </h3>
                <p style="color:white">
                    Zenius is cooool. U'll be taught how to think correctly and study effectively
                    using interesting learning methods!! Such as playing cards, watching DVDs, and
                    many other unusual but effective methods. Things that never crossed my mind.
                    Normally, at school, teachers want you to be able to remember many formulas
                    without giving an understanding how to apply them. In zenius, teachers start
                    with the basics and will make you capable to come up with your own formula
                    and make you more creative. In short, zenius will give you the joy of learning
                </p>
            </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/lia.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Aprilia Azhari Dewi, Siswi SMAN 8 Jakarta</h3>
                <p style="color:white">
                   Zenius yeahh!!!! One thing that makes me want to join zenius-x because they teach
                    me like no other does. Ya ya ya, everyone said the same things in every promoting
                    course, but like people said, youll never know till you try it yourself. Biasanya
                    gue jarang bgt nyimak pelajaran di sekolah. One day, waktu hari senin pagi, gue ada
                    ulangan dan gue belum ngerti apa-apa. Trus gue dateng kesini minggu pagi buat tambahan
                    belajar. Dengan adanya tambahan ini gue bisa ngejar ketinggalan gue. If you think
                    I said the same old plain thing, then why dont you prove it yourself?
                </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
               "Two there are who are never satisfied -- the lover of the world and the lover of knowledge" <br>
                [Mawlana Jalal-al-Din Rumi (El Masnavi)]
            </p>
        </div>
    </div>

{% endblock %}
