{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
        <h2>Program Kelas 10 SMA</h2>
    </div>
    <div class="row">
       <div class="medium-6 large-6 columns">
            <h3>Target Praktis</h3>
           <ol>
            <li>
                Mencapai nilai SKBM + 2
            </li>
            <li>
                Masuk jurusan IPA
            </li>
           </ol>
           <h3>Target Ideal</h3>
           <ol>
            <li>
                Siswa mengetahui pentingnya masuk IPA untuk pemilihan jurusan apapun di Perguruan Tinggi nanti
            </li>
            <li>
                Siswa memiliki kemampuan dasar-dasar yang kuat dalam pembelajaran di SMA
            </li>
            <li>
                Siswa mampu mencari solusi atas berbagai permasalahan dengan memanfaatkan berbagai fasilitas yang
                tersedia secara cerdas, kreatif, dan mandiri.
            </li>
           </ol>
           <h3>Materi Belajar</h3>
           <p>
             Matematika, Fisika, Biologi, Kimia
           </p>
           <h3>Pemfokusan Belajar</h3>
           <p>
               Di program ini, siswa akan difokuskan kepada pencapaian mereka untuk masuk jurusan IPA.<br>
               Fokus akan dilakukan terhadap ulangan sumatif, ujian tengah dan akhir semester, tugas-tugas,
               dan hal-hal apapun yang termasuk kriteria untuk masuk ke IPA.
               <a href="demo">klik demo belajar</a>
           </p>
        </div>
        <div class="medium-6 large-6 columns">
            <h3>Waktu Belajar</h3>
           <p>
               Senin-Rabu atau Selasa-Kamis <br>
                Pukul 16.30 -  20.00<br>
               (waktu bisa disesuaikan)
           </p>
           <h3>Evaluasi Belajar</h3>
           <ol>
               <li>Tes Diagnostik</li>
               <li>Try Out setiap bulan </li>
               <li>Kuis dan Latihan Soal</li>
           </ol>
           <h3>Fasilitas</h3>
           <ol>
               <li>Modul dan Kumpulan Latihan Soal </li>
               <li>Ruang Multimedia </li>
               <li>Zenius.net </li>
           </ol>
           <h3>Harga Program</h3>
           <p>
               <a href="/harga">Lihat rincian disini</a>
            </p>
        </div>
    </div>

    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/rexha.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Rexha, Alumnus SMA Pangudi Luhur Jakarta, FTTM ITB</h3>
                <p style="color:white">
                    Gw masuk kelas alumni di Zenius. Pada awalnya, gw belum tau dan belum sadar,
                    knp gw bisa gagal di SNMPTN tahun lalu.. Gw mikir tdnya gw kurang beruntung aja,
                    karena gw ngerasa uda bljr pol2an..
                </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
                "The man who reads nothing at all is better educated than the man who reads nothing but newspapers"<br>
                [Thomas Jefferson]
            </p>
        </div>
    </div>

{% endblock %}
