{% extends "ssc/views/templates/base.html" %}
{% block content %}
    <div class="row">
       <img src="img/sabda-ngajar.gif" alt="slide 1" width="100%"/>
    </div>
    <div class="row">
        <div class="medium-12 large-12 columns">
            <h2>Zenius-MAX</h2>
            <p>
                Zenius-MAX merupakan program belajar dari kelas 1 SD - 12
                SMA dan alumni yang percaya kepada pentingnya pembelajaran yang benar dan efektif dalam pendidikan.
            </p>
            <p>
                Latar belakang kami adalah pendidikan dan teknologi, serta fokus kami pada pelajar dari kelas 1 SD – 12 SMA dan alumni.
                Sesuai dengan moto <b>Xtreme Transformation</b>,
                kami menyampaikan pembelajaran yang efektif untuk mencapai perubahan yang signifikan pada kecerdasan seorang pelajar.
            </p>
        </div>

    </div>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/aisyah.png" alt=""/>
           </div>
           <div class="medium-10 large-10 columns">
               <h3  style="color:grey">Aisyah Gunung, Alumnus SMAN 28 Jakarta, STEI ITB</h3>
               <p  style="color:white">
                   Awalnya waktu gw denger zenius belajar dari basic dan ngebentuk pola pikir, gw mikirnya buang2 waktu & gak efektif.
                   Ternyata gw salah besar. Hehe. Zenius tuh emang beneran ngebikin cerdas dan berpikir benar. Efek sampingnya,
                   gw diterima deh di STEI ITB lewat USM 1.
               </p>
           </div>
    </div>
    <div class="row" style="background:white">
        <div class="panel">
        <p align="center">
            "One of the most important values of a good education is in helping us to make better decisions each day, since our
            life is nothing more than the path taken by our decisions we made in the past" <br>
             [Zenius Education]
        </p>
        </div>
    </div>
    <div class="row">
        <img src="img/benefit.png" alt="benefit" width="100%"/>
    </div>
    <div class="row">
       <div class="medium-12 large-12 columns">
            <h2>Tujuan Praktis</h2>
           <div>Usaha kami adalah membantu siswa agar dapat:</div>
           <br>
            <ol>
                <li>Meraih nilai tes sempurna (perfect score) sehingga tidak remedial.</li>
                <li>Meraih nilai raport dengan rangking tinggi (5 besar). </li>
                <li>Lulus test kenaikan jenjang pendidikan pada sekolah atau Perguruan Tinggi favorit.</li>
                <li>Diterima di Perguruan Tinggi Negeri unggulan.</li>
                <li>Mengalami peningkatan IQ dan kecerdasan umum lainnya. </li>
            </ol>

        </div>
    </div>
    <div class="row">
       <div class="medium-12 large-12 columns">
            <h2>Tujuan Ideal</h2>
           <div>Kami juga mempunyai kualitas standar ideal dalam Program Zenius-MAX, yaitu membuat siswa:</div>
            <ol>
                <li>Mempunyai mental yang kuat, landasan berpikir yang benar, dan pemahaman ilmu yang mendalam.</li>
                <li>Efektif dalam belajar secara akademik dan dalam bersosialisasi. </li>
                <li>
                     Mampu mencari solusi atas berbagai permasalahan dengan memanfaatkan berbagai fasilitas yang
                    tersedia secara cerdas, kreatif, dan mandiri.
                </li>

            </ol>
        </div>

    </div>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/fierly.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
            <h3 style="color:grey">Fierly Eliza , Siswi SMAN 8 Jakarta</h3>
            <p style="color:white"> Zenius is different. Trust me. It's not just about how to get good grades at school or about the
                shortcut to get into the university you want. Its about learning and knowledge. I can ask and
                discuss anything that bothers my mind such as discuss the universe, history, science, etc. At Zenius,
                I get somethings different that make me smart and study effectively. So, if you want to have all of that,
                this is a right choice for you.
            </p>
            </div>
    </div>
    <div class="row">
        <div class="panel">
            <p align="center">
                "Educations purpose is to replace an empty mind with an open mind" <br>
                [Malcolm Forbes]
            </p>
        </div>
    </div>
    <div class="row">
        <img src="img/kelebihan.png" alt="benefit" width="100%"/>
    </div>
    <div class="row">
       <div class="medium-12 large-12 columns">
            <h2>Apa yang membuat Zenius-MAX begitu unik ?</h2>
            <ol>
                <li>Tutor online yang berasal dari PTN ternama seperti ITB, UI, dan PTN top lainnya.</li>
                <li>Tutor offline yang berdedikasi tinggi dalam mendampingi dan memfasilitasi siswa secara
                    langsung dalam mengikuti
                    program zenius.</li>
                <li>Metode belajar yang berfokus pada konsep. </li>
                <li>Penggunaan bahasa yang mudah dipahami saat di kelas. </li>
                <li>Penggunaan teknologi dalam belajar online melalui www.zenius.net yang berisi
                    video-video pembahasan materi pelajaran. </li>
                <li>Kegiatan penunjang belajar seperti games, baca buku, nonton film, dan lain-lain
                    yang dapat meningkatkan kecerdasan pelajar.</li>
            </ol>
        </div>

    </div>
    <div class="row" style="background:black">
           <div class="medium-2 large-2 columns" align="right">
               <img src="img/lia.png" alt=""/>
           </div>

            <div class="medium-10 large-10 columns">
                <h3 style="color:grey">Aprilia Azhari Dewi, Siswi SMAN 8 Jakarta</h3>
                <p style="color:white"> Zenius yeahh!!!! One thing that makes me want to join zenius-x because
                    they teach me like no other does. Ya ya ya, everyone said the same things in every
                    promoting course, but like people said, youll never know till you try it yourself.
                    Biasanya gue jarang bgt nyimak pelajaran di sekolah. One day, waktu hari senin pagi,
                    gue ada ulangan dan gue belum ngerti apa-apa. Trus gue dateng kesini minggu pagi
                    buat tambahan belajar. Dengan adanya tambahan ini gue bisa ngejar ketinggalan gue.
                    If you think I said the same old plain thing, then why dont you prove it yourself?
                </p>
            </div>
    </div>
     <div class="row">
        <div class="panel">
            <p align="center">
                "An investment in knowledge pays the best interest" <br> [Benjamin Franklin]
            </p>
        </div>
    </div>
{% endblock %}
