<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Home</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link href="css/owl-carousel.css" rel="stylesheet">
    <link href="css/owl-carousel-1.css" rel="stylesheet">
    <link href="css/rd-mailform.css" rel="stylesheet">

    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page text-center">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg-primary">
        <div id="stuck_container" class="stuck_container">
            <section class="bg-white">
                <div class="container">

                    <!-- Navbar -->
                    <nav class="navbar navbar-static-top text-left">
                        <ul class="navbar-nav sf-menu" data-type="navbar">
                            <li class="active">
                                <a href="./">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="index-1.html">About us</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#">Publication</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">Latest</a>
                                            </li>
                                            <li>
                                                <a href="#">Popular</a>
                                            </li>
                                            <li>
                                                <a href="#">Archive</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">History</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="index-2.html">Books</a>
                            </li>
                            <li>
                                <a href="index-3.html">Authors</a>
                            </li>
                            <li>
                                <a href="index-4.html">News</a>
                            </li>
                            <li>
                                <a href="index-5.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- END Navbar -->

                </div>
            </section>
            <div class="container contain-wrap">

                <!-- Navbar Brand -->
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                        <a href="./">
                            <small>Bimbel Online & Onsite</small>
                            Zenius Center
                        </a>
                    </h1>
                </div>
                <!-- END Navbar Brand -->

            </div>
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <!-- Professional publishing solutions-->
        <section class="well-1 well-1--inset-3 hero skew skew__deg-1 text-md-left">
            <div class="skew_sub-1 skew_sub-1-2">
                <div class="skew_sub-2 skew_sub-2-2">
                    <div class="skew_bg bg-primary skew_bg-2"></div>
                </div>
            </div>
            <div class="container relative">
                <h4>WE PROVIDE GREAT <br> LEARNING EXPERIENCE</h4>

                <p class="inset-1">Program bimbel kami dinamai zenius-MAX dengan motto '<b>Xtreme Transformation</b>'. Program ini tidak sekedar
            melayani siswa untuk memenuhi kebutuhan belajarnya, tetapi juga mentransformasi kebiasaan belajar lama yang tidak
            efektif menjadi kebiasaan belajar baru yang sangat efektif sehingga siswa menjadi <i><b>manusia pembelajar</b></i> baru yang siap
            menghadapi dinamika iptek sekarang dan masa depan. </p>

                <div class="img-position-1">
                    <img src="images/page-1_img01.png" alt="">
                </div>
            </div>
        </section>
        <!-- END Professional publishing solutions-->

        <!-- Hello! -->
        <section class="skew skew__deg-2 skew__deg-3_before-inset">
            <div class="skew_sub-1">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-white"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-10">
                <h2>Hello!</h2>

                <p class="inset-2">Booking magazine contains in-depth features, author interviews, opinion and
                    pre-publication reviews of forthcoming Australian books.</p>

                <div class="row text-sm-left">
                    <div class="col-sm-6 col-md-offset-1 col-md-5">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon icon-xs icon-primary fa-child"></span>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading fw-b text-warning"><a href="#">Children’s books</a></h5>

                                <p>Guardian children’s books site editor Michelle Pauli is our guest book doctor
                                    this week, suggesting books for little toddlers.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <span class="icon icon-xs icon-primary fa-pencil"></span>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading fw-b text-warning"><a href="#">Art & Architecture</a></h5>

                                <p>From the end of World War II until the mid-1960s, exciting things were happening
                                    in American architecture.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon icon-xs icon-primary fa-heart"></span>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading fw-b text-warning"><a href="#">Romance</a></h5>

                                <p>Romance is always one of the most popular genres for book publishing and the most
                                    popular genre in the United States.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <span class="icon icon-xs icon-primary fa-history"></span>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading fw-b text-warning"><a href="#">History</a></h5>

                                <p>Here you will be able to browse and search our listings of historical books. Your
                                    experience should be an exciting adventure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Hello! -->

        <!-- New releases -->
        <section class="skew skew__deg-2 skew__deg-2-m-1 skew__deg-3_before-inset">
            <div class="skew_sub-1 skew_sub-1-m-1">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-info-variant-2"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-3">

                <h2>New releases</h2>

                <div class="row flow-offset-1 text-lg-left">
                    <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="images/page-1_img02.png" alt="">
                        <h6 class="fw-b txt-sec">
                            <a href="#" class="btn-link">Book for designers</a>
                        </h6>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
                        <img src="images/page-1_img03.png" alt="">
                        <h6 class="fw-b txt-sec">
                            <a href="#" class="btn-link">Book for Developers</a>
                        </h6>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay=".8s">
                        <img src="images/page-1_img04.png" alt="">
                        <h6 class="fw-b txt-sec">
                            <a href="#" class="btn-link">Book for marketers</a>
                        </h6>
                    </div>
                    <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                        <img src="images/page-1_img05.png" alt="">
                        <h6 class="fw-b txt-sec">
                            <a href="#" class="btn-link">Book for leaders</a>
                        </h6>
                    </div>

                </div>
        </section>
        <!-- END New releases -->

        <!-- Our authors -->
        <section class="well-2 well-2--inset-2">
            <div class="contain-wrap">
                <div class="container">
                    <h2>Our authors</h2>

                    <!-- Owl Carousel 2 -->
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="thumbnail-2">
                                <img src="images/page-1_img07.jpg" alt="">
                                <h5>ANNE HATHAWAY</h5>
                                <small>Director</small>
                                <p>Devour these five juicy books about the power and allure of the "other woman" from
                                    the historian</p>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-2">
                                <img src="images/page-1_img08.jpg" alt="">
                                <h5>Joe Doe</h5>
                                <small>Writer</small>
                                <p>Latest book, Liar, Spy is a true story of four daring Civil War spies who risked
                                    every- thing for their cause.</p>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-2">
                                <img src="images/page-1_img09.jpg" alt="">
                                <h5>Andrew Show</h5>
                                <small>Writer</small>
                                <p>Letting go means to come to the realization that some people are a part of your
                                    history.</p>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-2">
                                <img src="images/page-1_img14.jpg" alt="">
                                <h5>Richard Green</h5>
                                <small>Director</small>
                                <p>The book was famous then, but if you haven't heard of it, allow Chicago magazine to
                                    outline the plot.</p>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-2">
                                <img src="images/page-1_img15.jpg" alt="">
                                <h5>Brenda Wheeler</h5>
                                <small>Writer</small>
                                <p>It wasn't the first reading list he'd made; just a year earlier, Hemingway had dashed
                                    off a list of 14 books.</p>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-2">
                                <img src="images/page-1_img16.jpg" alt="">
                                <h5>Joan Joseph</h5>
                                <small>Writer</small>
                                <p>The books that most influenced his career—and are presumably favorites as well.</p>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-sm icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev">
                                <svg id="svg-prev" viewBox="0 0 33 106">
                                    <path id="svg-prev-body" d="m15.644 79.519-15.519-26.475 15.516-26.518 15.516-26.518 1.279.09992.584 1.0046-7.297 12.168c-4.0027 6.675-10.649 18.235-14.948 25.583-4.2994 7.3479-7.8171 13.733-7.8171 14.19 0 .6893 21.526 37.918 28.114 48.621l1.9515 3.1708-.56235.92605-1.2967.22292z"/>
                                </svg>
                            </div>
                            <div class="owl-next">
                                <svg id="svg-next" viewBox="0 0 33 106">
                                    <path id="svg-next-body" d="m 17.5044,26.48329 15.519,26.475 -15.516,26.518 -15.516,26.518 -1.279,-0.0999 -0.584,-1.0046 7.297,-12.168 c 4.0027,-6.675 10.649,-18.235 14.948,-25.583 4.2994,-7.3479 7.8171,-13.733 7.8171,-14.19 0,-0.6893 -21.526,-37.918 -28.114,-48.621 L 0.125,1.15697 0.68735,0.23092 1.98405,0.008 Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!-- END Owl Carousel 2 -->
                </div>
            </div>
        </section>
        <!-- END Our authors -->

        <!-- KIND WORDS FROM CLIENTS -->
        <section class="skew skew__deg-2 skew__deg-2-m-2 skew__deg-3_before-inset skew__deg-3_before-inset-p-1">
            <div class="skew_sub-1 skew_sub-1-m-2 skew_sub-1-m-2-skin-1">
                <div class="skew_sub-2">
                    <div class="skew_bg bg-info"></div>
                </div>
            </div>
            <div class="skew_cnt container contain-wrap well-1">
                <h2>KIND WORDS FROM CLIENTS</h2>

                <div class="owl-carousel-1">
                    <div class="item">
                        <blockquote class="quote">
                            <img src="images/page-1_img11.jpg" alt="">

                            <p><q>The best moments in reading are when you come across something - a thought, a
                                feeling,
                                a
                                way of looking at things - which you had thought special and particular to you. And
                                now,
                                here it is, set down by someone else, a person you have never met, someone even who
                                is
                                long dead. And it is as if a hand has come out, and taken yours</q></p>

                            <p><cite class="h6">CHANEL IMAN</cite></p>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote class="quote">
                            <img src="images/page-1_img17.jpg" alt="">

                            <p><q>I wanted to say thank you for the amazing product and for the fast processing and
                                delivery. It was impressive, you weren't kidding. I was surprised with such an
                                excellent quality...My family is very happy. I would definitely use this site again
                                and again and recommend it to others.</q></p>

                            <p><cite class="h6">Jessica Long</cite></p>
                        </blockquote>
                    </div>
                </div>
                <div class="owl-controls">
                    <div class="owl-nav-1">
                        <div class="owl-prev-1">
                            <svg id="svg-prev-1" viewBox="0 0 10 14">
                                <path id="svg-prev-body-1" d="m3.5579 10.262-3.5504-3.3619 3.7545-3.4459 3.7545-3.4459 1.2385.70254 1.2384.70246-2.8825 2.7615-2.8825 2.7614 2.8117 2.6936 2.9527 2.4932-.8495.851c-.63120.63245-.83048.86559-.94124.99794-.041105.04912-.053301.01291-.10281-.01877-.07812-.04998-.20840-.14092-.38148-.26549-.4749-.342-1.3257-1.041-2.2868-1.836-.3453-.286-.6966-.588-1.0551-.889-.2771-.232-.5648-.461-.8180-.701z"/>
                            </svg>
                        </div>
                        <div class="owl-next-1">
                            <svg id="svg-next-1" viewBox="0 0 10 14">
                                <path id="svg-prev-body-1" d="M 6.4430896,3.7419879 9.9934443,7.1039398 6.2389559,10.549827 2.4844669,13.995715 1.2459944,13.293211 0.00752123,12.590706 2.8900563,9.8292911 5.7725907,7.067876 2.9608387,4.3742684 0.00819653,1.8814852 0.85764023,1.0303492 C 1.4888369,0.39789523 1.6881242,0.16476323 1.7988764,0.03240623 c 0.041105,-0.04912 0.053301,-0.01291 0.1028096,0.01877 0.07812,0.04998 0.2084032,0.140918 0.381476,0.26549 0.4748942,0.341812 1.3257011,1.04005097 2.2867636,1.83583067 0.3453055,0.285921 0.6966086,0.587812 1.0551867,0.888632 0.2770428,0.232418 0.5647263,0.461047 0.8179773,0.700859 z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END KIND WORDS FROM CLIENTS -->

        <!-- Contact us -->
        <section class="well-4">
            <div class="contain-wrap">
                <div class="container">
                    <h2 class="text-center">Contact us</h2>

                    <div class="row offset-1 text-sm-left">
                        <div class="col-sm-6 col-md-offset-2 col-md-4">

                            <!-- RD Mailform -->
                            <form class='rd-mailform' method="post" action="bat/rd-mailform.php" data-type="contact">
                                <div class="form-group">
                                    <label data-add-placeholder data-add-icon for="mailform-input-name">
                                        <input id="mailform-input-name"
                                               placeholder="Your Name"
                                               type="text"
                                               name="name"
                                               data-constraints="@NotEmpty @LettersOnly"/>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label data-add-placeholder data-add-icon for="mailform-input-email">
                                        <input id="mailform-input-email"
                                               placeholder="Your Email"
                                               type="text"
                                               name="email"
                                               data-constraints="@NotEmpty @Email"/>
                                    </label>
                                </div>

                                <div class="form-group textarea">
                                    <label data-add-placeholder for="mailform-input-textarea">
                      <textarea id="mailform-input-textarea"
                                name="message"
                                placeholder="Your Message"
                                data-constraints="@NotEmpty"></textarea>
                                    </label>
                                </div>


                                <div class="form-group btn-wr">
                                    <button class="btn btn-danger" type="submit">SEND</button>

                                    <div class="mfInfo"></div>

                                </div>
                            </form>
                            <!-- END RD Mailform -->

                        </div>
                        <div class="col-sm-6 col-md-5">
                            <!-- Contact Info-->
                            <address class="contact-info">
                                <p class="small text-default inset-3">To contact Booking regarding his book, speak- ing
                                    appearances, or
                                    any other topic pertaining to his book, use the form below.</p>

                                <p>1600 Pennsylvania Ave NW, Washington,
                                    DC 20500, United States of America.</p>
                                <dl>
                                    <dt>T:</dt>
                                    <dd><a href="callto:#">(202) 456-1111</a></dd>
                                </dl>
                                <dl>
                                    <dt>M:</dt>
                                    <dd><a href="callto:#">(202) 456-1212</a></dd>
                                </dl>
                                <ul class="list-inline">
                                    <li><a href="#" class="icon icon-md icon-info icon-info-variant-1 fa-facebook"></a>
                                    </li>
                                    <li><a href="#"
                                           class="icon icon-md icon-danger icon-danger-variant-1 material-design-google118"></a>
                                    </li>
                                    <li><a href="#" class="icon icon-md icon-info icon-info-variant-2 fa-twitter"></a>
                                    </li>
                                </ul>
                            </address>
                            <!-- END Contact Info-->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Contact us -->

    </main>

    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer>
        <div class="container">
            <p class="rights">Book Publishing Company &#169; <span id="copyright-year"></span> All rights
                reserved.<br>
                Terms of use &#124; <a href="index-6.html">Privacy Policy</a>
                More <a rel="nofollow" href="http://www.templatemonster.com/category/publishing-company-website-templates/" target="_blank">Publishing Company Website Templates at TemplateMonster.com</a>
            </p>
        </div>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->

</body>
</html>
